Package: libyang2-dev
Version: @LIBYANG_VERSION@-1
Section: libdevel
Priority: optional
Architecture: @ARCH@
Depends: @RUNTIME_PKG@ (= @LIBYANG_VERSION@-1)
Maintainer: frr-common <root@localhost>
Description: libyang development files built from source for FRR compatibility
