Package: libyang2-dev
Version: @LIBYANG_VERSION@-@LIBYANG_DEB_REVISION@
Section: libdevel
Priority: optional
Architecture: @ARCH@
Depends: @RUNTIME_PKG@ (= @LIBYANG_VERSION@-@LIBYANG_DEB_REVISION@)
Maintainer: frr-common <root@localhost>
Description: libyang development files built from source for FRR compatibility
