Package: @RUNTIME_PKG@
Version: @LIBYANG_VERSION@-1
Section: libs
Priority: optional
Architecture: @ARCH@
Maintainer: frr-common <root@localhost>
Description: libyang runtime library built from source for FRR compatibility
