#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  設定関連タスク
#

# systemd slice設定ディレクトリの作成
- name: "Create /etc/systemd/system/{{ item }}"
  ansible.builtin.file:
    path: "/etc/systemd/system/{{ item }}"
    state: directory
    owner: "root"
    group: "root"
    mode: "0775"
  loop: "{{ k8s_systemd_slices }}"

# systemd slice の CPUSet 設定
- name: "Create /etc/systemd/system/{{ item }}/40-cpuset.conf"
  ansible.builtin.template:
    src: systemd-cpuset.conf.j2
    dest: "/etc/systemd/system/{{ item }}/40-cpuset.conf"
    owner: root
    group: root
    mode: 0644
    backup: true
  loop: "{{ k8s_systemd_slices }}"