#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  ワーカーノードOS設定関連タスク
#

#
# アプリケーション動作用CPUマスク算出
#

- name: Calculate first app cpu
  ansible.builtin.shell: |
    set -o pipefail
    expr  $(echo {{ k8s_reserved_system_cpus_default }}|awk -F '-' '{print $2}') + 1
  args:
    executable: /bin/bash
  register: k8s_worker_first_cpu_id
  ignore_errors: true
  changed_when: False

- name: Calculate last app cpu
  ansible.builtin.shell: |
    set -o pipefail
    expr `lscpu -p=CPU | grep -v '^#' 2>/dev/null|wc -l || nproc --all` - 1
  args:
    executable: /bin/bash
  register: k8s_worker_last_cpu_id
  ignore_errors: true
  changed_when: False

- name: Create app cpu range
  ansible.builtin.shell: |
    echo "{{ k8s_worker_first_cpu_id.stdout }}-{{ k8s_worker_last_cpu_id.stdout }}"
  register: k8s_worker_app_cpu_range
  changed_when: False
  when:
    - k8s_worker_first_cpu_id.rc == 0
    - k8s_worker_last_cpu_id.rc == 0

#
# 起動時の処理
#

#
# Unboundedなカーネルスレッドの片寄せ
#

# ワーカーキューセットアップスクリプトの生成
- name: Generate pin-worker-queue.sh
  ansible.builtin.template:
    src: pin-worker-queue.sh.j2
    dest: "{{ k8s_node_setup_tools_dir }}/pin-worker-queue.sh"
    owner: root
    group: root
    mode: '0755'
    backup: false

# SystemD pin-worker-queue サービスファイルの生成
- name: Generate pin-worker-queue SystemD service
  ansible.builtin.template:
    src: pin-worker-queue.service.j2
    dest: /etc/systemd/system/pin-worker-queue.service
    owner: root
    group: root
    mode: '0755'
    backup: false

# SystemD pin-worker-queue サービスの登録
- name: Register pin-worker-queue service
  ansible.builtin.systemd_service:
    name: pin-worker-queue
    enabled: true


#
# 割込みの片寄せ
#

# 割込み片寄せセットアップスクリプトの生成
- name: Generate pin-irqs.py
  ansible.builtin.template:
    src: pin-irqs.py.j2
    dest: "{{ k8s_node_setup_tools_dir }}/pin-irqs.py"
    owner: root
    group: root
    mode: '0755'
    backup: false

# SystemD pin-irqs サービスファイルの生成
- name: Generate pin-irqs SystemD service
  ansible.builtin.template:
    src: pin-irqs.service.j2
    dest: /etc/systemd/system/pin-irqs.service
    owner: root
    group: root
    mode: '0755'
    backup: false

# SystemD pin-irqs サービスの登録
- name: Register pin-irqs service
  ansible.builtin.systemd_service:
    name: pin-irqs
    enabled: true

#
# システムプロセス用コアに
# システムスレッド/割り込みを寄せるためのカーネルコマンドラインの設定
#

- name: Configure kernel boot parameters
  when:
    - k8s_worker_app_cpu_range.rc == 0
  block:
    - name: Check if nohz_full is configured in the boot command
      ansible.builtin.lineinfile:
        backup: true
        path: "{{ grub_default_cfg_path }}"
        regexp: '^{{ grub_cmdline_var_name }}=".*nohz_full'
        state: absent
      check_mode: true
      register: grub_cmdline_check_nohz_full

    - name: Replace nohz_full if present
      ansible.builtin.lineinfile:
        path: "{{ grub_default_cfg_path }}"
        backrefs: true
        regexp: '^({{ grub_cmdline_var_name }}="[^"]*?\b)nohz_full=[^\s"]+([^"]*")$'
        line: '\1nohz_full={{ k8s_worker_app_cpu_range.stdout }}\2'
        backup: true
      when:
        - grub_cmdline_check_nohz_full.changed

    - name: Insert nohz_full if missing
      ansible.builtin.lineinfile:
        backrefs: true
        path: "{{ grub_default_cfg_path }}"
        regexp: "^({{ grub_cmdline_var_name }}=\".*)\"$"
        line: '\1 nohz_full={{ k8s_worker_app_cpu_range.stdout }}"'
      when:
        - not grub_cmdline_check_nohz_full.changed

    - name: Check if isolcpus is configured in the boot command
      ansible.builtin.lineinfile:
        backup: true
        path: "{{ grub_default_cfg_path }}"
        regexp: '^{{ grub_cmdline_var_name }}=".*isolcpus'
        state: absent
      check_mode: true
      register: grub_cmdline_check_isolcpus

    - name: Replace isolcpus if present
      ansible.builtin.lineinfile:
        path: "{{ grub_default_cfg_path }}"
        backrefs: true
        regexp: '^({{ grub_cmdline_var_name }}="[^"]*?\b)isolcpus=[^\s"]+([^"]*")$'
        line: '\1isolcpus=domain,managed,managed_irq,{{ k8s_worker_app_cpu_range.stdout }}\2'
        backup: true
      when:
        - grub_cmdline_check_isolcpus.changed

    - name: Insert isolcpus if missing
      ansible.builtin.lineinfile:
        backrefs: true
        path: "{{ grub_default_cfg_path }}"
        regexp: "^({{ grub_cmdline_var_name }}=\".*)\"$"
        line: '\1 isolcpus=managed,{{ k8s_worker_app_cpu_range.stdout }}"'
      when:
        - not grub_cmdline_check_isolcpus.changed

    - name: Check if rcu_nocbs is configured in the boot command
      ansible.builtin.lineinfile:
        backup: true
        path: "{{ grub_default_cfg_path }}"
        regexp: '^{{ grub_cmdline_var_name }}=".*rcu_nocbs'
        state: absent
      check_mode: true
      register: grub_cmdline_check_rcu_nocbs

    - name: Replace rcu_nocbs if present
      ansible.builtin.lineinfile:
        path: "{{ grub_default_cfg_path }}"
        backrefs: true
        regexp: '^({{ grub_cmdline_var_name }}="[^"]*?\b)rcu_nocbs=[^\s"]+([^"]*")$'
        line: '\1rcu_nocbs={{ k8s_worker_app_cpu_range.stdout }}\2'
        backup: true
      when:
        - grub_cmdline_check_rcu_nocbs.changed

    - name: Insert rcu_nocbs if missing
      ansible.builtin.lineinfile:
        backrefs: true
        path: "{{ grub_default_cfg_path }}"
        regexp: "^({{ grub_cmdline_var_name }}=\".*)\"$"
        line: '\1 rcu_nocbs={{ k8s_worker_app_cpu_range.stdout }}"'
      when:
        - not grub_cmdline_check_rcu_nocbs.changed

    - name: Check if irqaffinity is configured in the boot command
      ansible.builtin.lineinfile:
        backup: true
        path: "{{ grub_default_cfg_path }}"
        regexp: '^{{ grub_cmdline_var_name }}=".*irqaffinity'
        state: absent
      check_mode: true
      register: grub_cmdline_check_irqaffinity

    - name: Replace irqaffinity if present
      ansible.builtin.lineinfile:
        path: "{{ grub_default_cfg_path }}"
        backrefs: true
        regexp: '^({{ grub_cmdline_var_name }}="[^"]*?\b)irqaffinity=[^\s"]+([^"]*")$'
        line: '\1irqaffinity={{ k8s_reserved_system_cpus_default }}\2'
        backup: true
      when:
        - grub_cmdline_check_irqaffinity.changed

    - name: Insert irqaffinity if missing
      ansible.builtin.lineinfile:
        backrefs: true
        path: "{{ grub_default_cfg_path }}"
        regexp: "^({{ grub_cmdline_var_name }}=\".*)\"$"
        line: '\1 irqaffinity={{ k8s_reserved_system_cpus_default }}"'
      when:
        - not grub_cmdline_check_irqaffinity.changed

    - name: Check if workqueue.unbound_cpus is configured in the boot command
      ansible.builtin.lineinfile:
        backup: true
        path: "{{ grub_default_cfg_path }}"
        regexp: '^{{ grub_cmdline_var_name }}=".*workqueue\.unbound_cpus'
        state: absent
      check_mode: true
      register: grub_cmdline_check_workqueue_unbound_cpus

    - name: Replace workqueue.unbound_cpus if present
      ansible.builtin.lineinfile:
        path: "{{ grub_default_cfg_path }}"
        backrefs: true
        regexp: '^({{ grub_cmdline_var_name }}="[^"]*?\b)workqueue\.unbound_cpus=[^\s"]+([^"]*")$'
        line: '\1workqueue.unbound_cpus={{ k8s_reserved_system_cpus_default }}\2'
        backup: true
      when:
        - grub_cmdline_check_workqueue_unbound_cpus.changed

    - name: Insert workqueue.unbound_cpus if missing
      ansible.builtin.lineinfile:
        backrefs: true
        path: "{{ grub_default_cfg_path }}"
        regexp: "^({{ grub_cmdline_var_name }}=\".*)\"$"
        line: '\1 workqueue.unbound_cpus={{ k8s_reserved_system_cpus_default }}"'
      when:
        - not grub_cmdline_check_workqueue_unbound_cpus.changed

    - name: Check if workqueue.default_affinity_scope is configured in the boot command
      ansible.builtin.lineinfile:
        backup: true
        path: "{{ grub_default_cfg_path }}"
        regexp: '^{{ grub_cmdline_var_name }}=".*workqueue\.default_affinity_scope'
        state: absent
      check_mode: true
      register: grub_cmdline_check_workqueue_default_affinity_scope

    - name: Replace workqueue.default_affinity_scope if present
      ansible.builtin.lineinfile:
        path: "{{ grub_default_cfg_path }}"
        backrefs: true
        regexp: '^({{ grub_cmdline_var_name }}="[^"]*?\b)workqueue\.default_affinity_scope=[^\s"]+([^"]*")$'
        line: '\1workqueue.default_affinity_scope=cpu\2'
        backup: true
      when:
        - grub_cmdline_check_workqueue_default_affinity_scope.changed

    - name: Insert workqueue.default_affinity_scope if missing
      ansible.builtin.lineinfile:
        backrefs: true
        path: "{{ grub_default_cfg_path }}"
        regexp: "^({{ grub_cmdline_var_name }}=\".*)\"$"
        line: '\1 workqueue.default_affinity_scope=cpu"'
      when:
        - not grub_cmdline_check_workqueue_default_affinity_scope.changed

    - name: Check if systemd.cpu_affinity is configured in the boot command
      ansible.builtin.lineinfile:
        backup: true
        path: "{{ grub_default_cfg_path }}"
        regexp: '^{{ grub_cmdline_var_name }}=".*systemd\.cpu_affinity'
        state: absent
      check_mode: true
      register: grub_cmdline_check_systemd_cpu_affinity

    - name: Replace systemd.cpu_affinity if present
      ansible.builtin.lineinfile:
        path: "{{ grub_default_cfg_path }}"
        backrefs: true
        regexp: '^({{ grub_cmdline_var_name }}="[^"]*?\b)systemd\.cpu_affinity==[^\s"]+([^"]*")$'
        line: '\1systemd.cpu_affinity={{ k8s_reserved_system_cpus_default }}\2'
        backup: true
      when:
        - grub_cmdline_check_systemd_cpu_affinity.changed

    - name: Insert systemd.cpu_affinity if missing
      ansible.builtin.lineinfile:
        backrefs: true
        path: "{{ grub_default_cfg_path }}"
        regexp: "^({{ grub_cmdline_var_name }}=\".*)\"$"
        line: '\1 systemd.cpu_affinity={{ k8s_reserved_system_cpus_default }}"'
      when:
        - not grub_cmdline_check_systemd_cpu_affinity.changed

    #
    # GRUB 設定の更新 (Debian 系)
    #
    - name: "Config Grub Debian"
      ansible.builtin.include_tasks: config-grub-debian.yml
      when:
        - ansible_facts.os_family == 'Debian'
    #
    # GRUB 設定の更新 (RHEL 系)
    #
    - name: "Config Grub Rhel"
      ansible.builtin.include_tasks: config-grub-rhel.yml
      when:
        - ansible_facts.os_family == 'RedHat'
    #
    # 再起動
    #

    # マシンをリブートする
    - name: Reboot host gracefully
      ansible.builtin.reboot:
        reboot_timeout: "{{ reboot_timeout_sec }}"
        msg: "Reboot triggered by role: k8s-worker"
        pre_reboot_delay: 2
