#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  設定関連タスク
#

# デバッグ: systemd sliceディレクトリの作成対象を表示
- name: "Debug systemd slice directory creation"
  ansible.builtin.debug:
    msg: "Creating systemd slice directory: {{ item }}"
  loop: "{{ k8s_systemd_slices }}"

# systemd slice設定ディレクトリの作成
- name: "Create systemd slice directories"
  ansible.builtin.file:
    path: "/etc/systemd/system/{{ item }}"
    state: directory
    owner: "root"
    group: "root"
    mode: "0775"
  loop: "{{ k8s_systemd_slices }}"

# デバッグ: systemd slice CPUSet設定ファイルの作成対象を表示
- name: "Debug systemd slice cpuset config creation"
  ansible.builtin.debug:
    msg: "Creating systemd slice cpuset config: /etc/systemd/system/{{ item }}/40-cpuset.conf"
  loop: "{{ k8s_systemd_slices }}"

# systemd slice の CPUSet 設定
- name: "Create systemd slice cpuset config"
  ansible.builtin.template:
    src: systemd-cpuset.conf.j2
    dest: "/etc/systemd/system/{{ item }}/40-cpuset.conf"
    owner: root
    group: root
    mode: '0644'
    backup: true
  loop: "{{ k8s_systemd_slices }}"
