#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  ロール固有変数のデフォルト値
#  group_vars/all/all.yml やhost_varsで上書き可能とするため,
#  ロール名/defaults/main.yml に定義している
---
# ノード設定後に再起動するかどうか
force_reboot: false
# 再起動後の応答待ちのタイムアウト時間 (秒)
reboot_timeout_sec: 600
