#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  ファイル・ディレクトリ作成関連タスク
#

- name: Ensure Redmine volumes exist via Docker CLI commands
  become: true
  ansible.builtin.command: >
    sh -c "docker volume inspect {{ item }} >/dev/null 2>&1
    || docker volume create --label managed_by=ansible {{ item }}"
  loop:
    - "{{ redmine_files_volume }}"
    - "{{ redmine_database_volume }}"
  register: vol_results
  changed_when: vol_results.stdout |default('',true)|length > 0
  failed_when: vol_results.rc != 0

- name: "Create {{ redmine_docker_dir }}"
  ansible.builtin.file:
    path: "{{ redmine_docker_dir }}"
    state: directory
    mode: "755"
  become: true

- name: "Create {{ redmine_scripts_dir }}"
  ansible.builtin.file:
    path: "{{ redmine_scripts_dir }}"
    state: directory
    mode: "755"
  become: true

- name: "Create {{ redmine_backup_dir }}"
  ansible.builtin.file:
    path: "{{ redmine_backup_dir }}"
    state: directory
    mode: "755"
  become: true

- name: "Create {{ redmine_docker_dir }}/docker-compose.yml"
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ redmine_docker_dir }}/docker-compose.yml"
    owner: root
    group: root
    mode: '0644'
    backup: false

# バックアップ作業用スクリプトを作成
- name: "Create {{ redmine_scripts_dir }}/backup-redmine-data.sh"
  ansible.builtin.template:
    src: backup-redmine-data.sh.j2
    dest: "{{ redmine_scripts_dir }}/backup-redmine-data.sh"
    owner: root
    group: root
    mode: '0755'
    backup: false
  when:
    - redmine_enable_backup_script|default(false)|bool

# リストア作業用スクリプトを作成
- name: "Create {{ redmine_scripts_dir }}/restore-redmine-data.sh"
  ansible.builtin.template:
    src: restore-redmine-data.sh.j2
    dest: "{{ redmine_scripts_dir }}/restore-redmine-data.sh"
    owner: root
    group: root
    mode: '0755'
    backup: false
  when:
    - redmine_enable_backup_script|default(false)|bool

# デイリーバックアップスクリプトを作成
- name: "Create {{ redmine_scripts_dir }}/daily-backup-redmine.sh"
  ansible.builtin.template:
    src: daily-backup-redmine.sh.j2
    dest: "{{ redmine_scripts_dir }}/daily-backup-redmine.sh"
    owner: root
    group: root
    mode: '0755'
    backup: false
  when:
    - redmine_enable_backup_script|default(false)|bool
    - (redmine_backup_nfs_server|default("", true))|length > 0
    - (redmine_backup_nfs_dir|default("", true))|length > 0
    - (redmine_backup_mount_point|default("", true))|length > 0
    - (redmine_backup_output_dir|default("", true))|length > 0
    - (redmine_backup_dir|default("", true))|length > 0
    - (redmine_backup_rotation|default(0, true))|int > 0
