#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  設定関連タスク
#

# kube-apiが使えるようになるのを待ち合わせる
- name: wait for kube-api-server
  ansible.builtin.wait_for: host={{ k8s_ctrlplane_endpoint }} port=6443 state=started

# Multus Helm Chart をリモートホストにコピー
- name: Copy Multus Helm Chart to remote host
  ansible.builtin.copy:
    src: "{{ k8s_multus_helm_chart_source }}/"
    dest: "{{ k8s_multus_helm_chart_path }}/"
    owner: root
    group: root
    mode: preserve
  become: true

# Multus Values ファイル生成
- name: Setup Multus Helm values file
  ansible.builtin.template:
    src: multus-values.yml.j2
    dest: "{{ k8s_multus_config_dir }}/multus-values.yml"
    owner: root
    group: root
    mode: 0644
    backup: no

# Multus CNIのインストール（Helm経由）
# https://github.com/k8snetworkplumbingwg/multus-cni/blob/master/docs/quickstart.md
# の機能をHelm Chartで実装
- name: Install Multus via Helm
  ansible.builtin.shell: |
    helm upgrade --install multus-cni {{ k8s_multus_helm_chart_path }} \
    --namespace kube-system \
    --version {{ k8s_multus_helm_chart_version }} \
    -f {{ k8s_multus_config_dir }}/multus-values.yml
  environment:
    KUBECONFIG: /etc/kubernetes/admin.conf
  become: true
  register: multus_helm_install
  changed_when: "'deployed' in multus_helm_install.stdout or 'upgraded' in multus_helm_install.stdout"
