#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  設定関連タスク
#

# kube-apiが使えるようになるのを待ち合わせる
- name: Wait for kube-api-server
  ansible.builtin.wait_for:
    host: "{{ k8s_api_wait_host }}"
    port: "{{ k8s_api_wait_port }}"
    state: started
    timeout: "{{ k8s_api_wait_timeout }}"
    delay: "{{ k8s_api_wait_delay }}"
    sleep: "{{ k8s_api_wait_sleep }}"
  delegate_to: "{{ k8s_api_wait_delegate_to }}"

# Multus CNIのインストール
# https://github.com/k8snetworkplumbingwg/multus-cni/blob/master/docs/quickstart.md
# に従ってインストールする
- name: Install Multus
  ansible.builtin.shell: |
    kubectl apply -f {{ k8s_multus_daemonset_manifest_url}}
  args:
    executable: /bin/bash
  register: multus_install_command
  changed_when: "'created' in multus_install_command.stdout or 'configured' in multus_install_command.stdout"
