#  -*- coding:utf-8 mode:jinja2 -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
# 以下のメッセージが出力される問題への対策
#  filtering via arp/ip/ipv6tables is no longer available by default. update your scripts to load br_netfilter if you need this.
#
{# 日付の取得 #}
# last update: {{ '%Y-%m-%d %H:%M:%S %Z' | strftime(ansible_date_time.epoch) }}

# ブリッジ ( L2 )を通過する IPv4 パケットを iptables/nftables ( IPv4スタック )へ渡す。
net.bridge.bridge-nf-call-iptables = 1

# ブリッジ ( L2 ) を通過する IPv6 パケットを iptables/nftables ( IPv6スタック ) へ渡す。
net.bridge.bridge-nf-call-ip6tables = 1

# ブリッジ ( L2 ) を通過する ARP パケットを arptables へ渡す。
# 一般にnet.bridge.bridge-nf-call-arptables = 0がデフォルト設定となっているため
# 必要に応じてコメントアウトを外して有効化する。
# net.bridge.bridge-nf-call-arptables = 1

# IPv4 フォワーディングを有効化
net.ipv4.ip_forward = 1

# IPv6 フォワーディングを有効化
net.ipv6.conf.all.forwarding = 1
net.ipv6.conf.default.forwarding = 1

# 管理インターフェースでルーター広告(RA)を受け入れる
# フォワーディングが有効でもRAを受け入れるようにする
net.ipv6.conf.{{ mgmt_nic|default('ens160',true) }}.accept_ra = 2

# 無効化推奨とされている逆引きパスフィルタリングを無効化
net.ipv4.conf.all.rp_filter = 0
# 逆引きパスフィルタリングを無効化
net.ipv4.conf.default.rp_filter = 0