#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.

# apt関連起動ハンドラを読み込む
- name: "Import handlers for apt update/validate"
  ansible.builtin.import_tasks: apt-update-validate.yml
