#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#  ロール固有変数のデフォルト値
#  group_vars/all/all.yml やhost_varsで上書き可能とするため,
#  ロール名/defaults/main.yml に定義している
---

# Kubernetesオペレータユーザ設定
k8s_operator_user: "kube"
# Kubernetesオペレータユーザのホームディレクトリ
k8s_operator_home: "/home/kube"
# Kubernetesオペレータユーザのデフォルトシェル
k8s_operator_shell: "/bin/bash"
# Kubernetesオペレータユーザの所属グループ
k8s_operator_groups_list: "{{ adm_groups }}"

# Kubernetes Whereabouts 各種設定ディレクトリパス
k8s_whereabouts_config_dir: "{{ k8s_kubeadm_config_store }}/whereabouts"

# Whereabouts IPAMを有効化する
k8s_whereabouts_enabled: false
# Whereabouts CNIのバージョン
k8s_whereabouts_version: "0.9.2"
# Whereabouts Helm Chartのバージョン
k8s_whereabouts_helm_chart_version: "{{ k8s_whereabouts_version }}"
# Whereaboutsコンテナイメージのバージョン
k8s_whereabouts_image_version: "{{ k8s_whereabouts_version }}"
# Whereabouts Helm ChartのURL
k8s_whereabouts_chart_url: "oci://ghcr.io/k8snetworkplumbingwg/whereabouts-chart"
# セカンダリネットワークのアドレスレンジ開始アドレス(IPv4)
k8s_whereabouts_ipv4_range_start: ""
# セカンダリネットワークのアドレスレンジ終了アドレス(IPv4)
k8s_whereabouts_ipv4_range_end: ""
# セカンダリネットワークのアドレスレンジ開始アドレス(IPv6)
k8s_whereabouts_ipv6_range_start: ""
# セカンダリネットワークのアドレスレンジ終了アドレス(IPv6)
k8s_whereabouts_ipv6_range_end: ""
