#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  ロール固有変数のデフォルト値
#  group_vars/all/all.yml やhost_varsで上書き可能とするため,
#  ロール名/defaults/main.yml に定義している
#
---

## Kubernetesオペレータユーザ設定
k8s_operator_user: "kube"
# Kubernetesオペレータユーザのホームディレクトリ
k8s_operator_home: "/home/kube"
# Kubernetesオペレータユーザのデフォルトシェル
k8s_operator_shell: "/bin/bash"
# Kubernetesオペレータユーザの所属グループ
k8s_operator_groups_list: "{{ adm_groups }}"

# 環境セットアップ時のスクリプト格納先ディレクトリのプレフィックス
k8s_node_setup_tools_prefix: "/opt/k8snodes"
# 環境セットアップ時のスクリプト格納先ディレクトリ
k8s_node_setup_tools_dir: "{{ k8s_node_setup_tools_prefix }}/sbin"
# 環境セットアップ時のスクリプト関連文書格納先ディレクトリ
k8s_node_setup_tools_docs_dir: "{{ k8s_node_setup_tools_prefix }}/docs"

# kubeadm設定ファイル格納ディレクトリ
k8s_kubeadm_config_store: "{{ ansible_home_dir }}/kubeadm"

#
# kubeconfigファイル操作スクリプト設定
#

# 証明書埋め込み版kubeconfigファイル作成スクリプトのパス
k8s_embed_kubeconfig_script_path: "{{ k8s_node_setup_tools_dir }}/create-embedded-kubeconfig.py"
# 証明書埋め込み版kubeconfig作成に使用する元のkubeconfigファイルパス
k8s_embed_kubeconfig_admin_conf: "/etc/kubernetes/admin.conf"
# 証明書埋め込み版kubeconfigファイルの出力先ディレクトリ
k8s_embed_kubeconfig_output_dir: "{{ k8s_operator_home }}/.kube"
# 証明書埋め込み版kubeconfigファイルの名前の接尾辞
k8s_embed_kubeconfig_file_postfix: "-embedded.kubeconfig"
# kubeconfigファイル結合ツールのパス
k8s_create_unique_kubeconfig_script_path: "{{ k8s_node_setup_tools_dir }}/create-uniq-kubeconfig.py"

# kubeconfig をシステム側へ配置する際の基準ディレクトリ
k8s_kubeconfig_system_dir: "/etc/kubernetes"
