#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  ロール固有変数のデフォルト値
#  group_vars/all/all.yml やhost_varsで上書き可能とするため,
#  ロール名/defaults/main.yml に定義している
#
---

## Kubernetesオペレータユーザ設定
k8s_operator_user: "kube"
# Kubernetesオペレータユーザのホームディレクトリ
k8s_operator_home: "/home/kube"
# Kubernetesオペレータユーザのデフォルトシェル
k8s_operator_shell: "/bin/bash"
# Kubernetesオペレータユーザの所属グループ
k8s_operator_groups_list: "{{ adm_groups }}"

# 環境セットアップ時のスクリプト格納先ディレクトリのプレフィックス
k8s_node_setup_tools_prefix: "/opt/k8snodes"
# 環境セットアップ時のスクリプト格納先ディレクトリ
k8s_node_setup_tools_dir: "{{ k8s_node_setup_tools_prefix }}/sbin"
# 環境セットアップ時のスクリプト関連文書格納先ディレクトリ
k8s_node_setup_tools_docs_dir: "{{ k8s_node_setup_tools_prefix }}/docs"

# kubeadm設定ファイル格納ディレクトリ
k8s_kubeadm_config_store: "{{ ansible_home_dir }}/kubeadm"

#
# kubeconfigファイル操作スクリプト設定
#

# 証明書埋め込み版kubeconfigファイル作成スクリプトのパス
k8s_embed_kubeconfig_script_path: "{{ k8s_node_setup_tools_dir }}/create-embedded-kubeconfig.py"
# 証明書埋め込み版kubeconfig作成に使用する元のkubeconfigファイルパス
k8s_embed_kubeconfig_admin_conf: "/etc/kubernetes/admin.conf"
# 証明書埋め込み版kubeconfigファイルの出力先ディレクトリ
k8s_embed_kubeconfig_output_dir: "{{ k8s_operator_home }}/.kube"
# 証明書埋め込み版kubeconfigファイルの名前の接尾辞
k8s_embed_kubeconfig_file_postfix: "-embedded.kubeconfig"
# 証明書埋め込み版kubeconfigファイルのcontext名
# 未定義, または, 空文字列の場合はkubeadmの設定値から変更しない
k8s_embed_kubeconfig_context_name: "{{ k8s_cilium_cm_cluster_name | default('',true) }}"
# 証明書埋め込み版kubeconfigファイルのuser名のコンテキスト名の前につける接頭辞
k8s_embed_kubeconfig_user_name_prefix: "admin-"
# 証明書埋め込み版kubeconfigファイルのuser名のコンテキスト名の前につける接尾辞
k8s_embed_kubeconfig_user_name_postfix: ""
# 証明書埋め込み版kubeconfigファイルのuser名
# 未定義, または, 空文字列の場合はkubeadmの設定値から変更しない
# 注意: ternary関数を使用して, k8s_cilium_cm_cluster_name が未定義または空文字列の場合に
# 空文字列を設定するようにしている。
# 空文字列以外で定義されている場合は, 接頭辞, 接尾辞をクラスタ名に付与した値を設定する
k8s_embed_kubeconfig_user_name: "{{ (k8s_cilium_cm_cluster_name | default('', true)) | ternary((k8s_embed_kubeconfig_user_name_prefix | default('', true)) ~ k8s_cilium_cm_cluster_name ~ (k8s_embed_kubeconfig_user_name_postfix | default('', true)), '') }}"
# kubeconfigファイル結合ツールのパス
k8s_create_unique_kubeconfig_script_path: "{{ k8s_node_setup_tools_dir }}/create-uniq-kubeconfig.py"

# kubeconfig をシステム側へ配置する際の基準ディレクトリ
k8s_kubeconfig_system_dir: "/etc/kubernetes"
