#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
# vars/配下のファイルをプレイブックから選択的に読み込むため
# all.ymlには, 設定変更に関わる変数を定義しないこと
# include_vars で読み込んだ変数は一般に play変数レベル で,
# group_vars より高いことが多く, 上書き用に有用であるため。

# ansibleユーザ名
ansible_user: "ansible"
# ansibleのhomeディレクトリ
ansible_home_dir: "/home/{{ ansible_user }}"

#
# 管理用VMデフォルトのネットワークインターフェース
#
# 管理用NICを仮想化環境に応じて自動設定する
# - ESXi/VMware の場合: ens160
# - xcp-ng/xen の場合: enX0
# - それ以外: eth0
# NOTE:
# - gather_facts により ansible_facts.virtualization_type/role が取得できる前提
# - 環境により virtualization_type の表記揺れがあり得るため lower で比較
mgmt_nic: >-
  {{
    (
      (ansible_facts.virtualization_role | default('') | lower) == 'guest'
      and (ansible_facts.virtualization_type | default('') | lower) == 'vmware'
    )
    | ternary(
        'ens160',
        (
          (
            (ansible_facts.virtualization_role | default('') | lower) == 'guest'
            and (ansible_facts.virtualization_type | default('') | lower) in ['xen', 'xcp-ng', 'xcpng']
          )
          | ternary('enX0', 'eth0')
        )
      )
  }}

gpm_mgmt_nic: >-
  {{
    (
      (ansible_facts.virtualization_role | default('') | lower) == 'guest'
      and (ansible_facts.virtualization_type | default('') | lower) == 'vmware'
    )
    | ternary(
        'ens194',
        (
          (
            (ansible_facts.virtualization_role | default('') | lower) == 'guest'
            and (ansible_facts.virtualization_type | default('') | lower) in ['xen', 'xcp-ng', 'xcpng']
          )
          | ternary('enX1', 'eth1')
        )
      )
  }}
