#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#  ロール固有変数のデフォルト値
#  group_vars/all/all.yml やhost_varsで上書き可能とするため,
#  ロール名/defaults/main.yml に定義している
---

## Kubernetesオペレータユーザ設定
k8s_operator_user: "kube"
# Kubernetesオペレータユーザのホームディレクトリ
k8s_operator_home: "/home/kube"
# Kubernetesオペレータユーザのデフォルトシェル
k8s_operator_shell: "/bin/bash"
# Kubernetesオペレータユーザの所属グループ
k8s_operator_groups_list: "{{ adm_groups }}"

# 環境セットアップ時のスクリプト格納先ディレクトリのプレフィックス
k8s_node_setup_tools_prefix: "/opt/k8snodes"
# 環境セットアップ時のスクリプト格納先ディレクトリ
k8s_node_setup_tools_dir: "{{ k8s_node_setup_tools_prefix }}/sbin"
# 環境セットアップ時のスクリプト関連文書格納先ディレクトリ
k8s_node_setup_tools_docs_dir: "{{ k8s_node_setup_tools_prefix }}/docs"

#
# kubeconfigファイル操作スクリプト設定
#

# 証明書埋め込み版kubeconfigファイル作成スクリプトのパス
k8s_embed_kubeconfig_script_path: "{{ k8s_node_setup_tools_dir }}/create-embedded-kubeconfig.py"
# 証明書埋め込み版kubeconfig作成に使用する元のkubeconfigファイルパス
k8s_embed_kubeconfig_admin_conf: "/etc/kubernetes/admin.conf"
# 証明書埋め込み版kubeconfigファイルの出力先ディレクトリ
k8s_embed_kubeconfig_output_dir: "{{ k8s_operator_home }}/.kube"
# 証明書埋め込み版kubeconfigファイルの名前の接尾辞
k8s_embed_kubeconfig_file_postfix: "-embedded.kubeconfig"
# kubeconfigファイル結合ツールのパス
k8s_create_unique_kubeconfig_script_path: "{{ k8s_node_setup_tools_dir }}/create-uniq-kubeconfig.py"

#
# Kubernetes ワーカーノード固有設定
#

# kubeadm設定ファイル格納ディレクトリ
k8s_kubeadm_config_store: "{{ ansible_home_dir }}/kubeadm"
# Cilium設定ファイル格納ディレクトリ
k8s_cilium_config_dir: "{{ k8s_kubeadm_config_store }}/cilium"

# kubeadm preflight ignore errors argumentの指定値
k8s_kubeadm_ignore_preflight_errors_arg: "--ignore-preflight-errors=all"

# ワーカーノードドレイン待ち時間(単位:分)
k8s_drain_timeout_minutes: 5
# ワーカーノード削除待ち時間(単位:秒)
k8s_worker_delete_wait_sec: 5

# NodePort を使うなら true ( 使わないなら false )
k8s_worker_enable_nodeport: false
# NodePort のポート範囲指定 (デフォルト: 30000-32767)
k8s_worker_nodeport_range: "30000-32767"

# ワーカー用基本開放ポート (Cilium native routing 前提)
# - 10250/tcp(kubelet)は コントロールプレインからのみ許可にするので,
#   ここのリストはノードへ外部から入ってくる可能性があるものに限定。
#   例えば, Pod へのサービス公開用 NodePort ポートはここには含めない。
k8s_worker_node_ports_from_ctrlplane:
  - "10250/tcp"

# NodePort 用 ( 有効時にだけ使う )
k8s_worker_node_ports_nodeport:
  - "{{ k8s_worker_nodeport_range }}/tcp"
  - "{{ k8s_worker_nodeport_range }}/udp"

# Kubernetes ワーカーノード使用ポート
# 最終的に開ける “ポート範囲・プロトコル” のリスト
# (10250/tcp は個別処理なので含めない)
k8s_worker_node_ports: >-
  {{
    (k8s_worker_enable_nodeport | bool)
      | ternary(k8s_worker_node_ports_nodeport, [])
  }}

# UFW はポート範囲が 30000:32767 表記, firewalld は 30000-32767
# 後続の UFW ループでこれを使う
k8s_worker_node_ports_ufw: >-
  {{
    (k8s_worker_node_ports | map('regex_replace','-',':') | list)
  }}


# systemd スライス
k8s_systemd_slices:
  - init.scope.d
  - system.slice.d
  - user.slice.d
  - "user-.slice.d"
