#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#

# /usr/local/binを作成
- name: "Create /usr/local/bin"
  file:
    path: "/usr/local/bin"
    state: directory
    owner: "root"
    group: "root"
    mode: "755"

# /usr/local/shareを作成
- name: "Create /usr/local/share"
  file:
    path: "/usr/local/share"
    state: directory
    owner: "root"
    group: "root"
    mode: "755"
