#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#
# コンテナバックアップ用のスクリプトを導入
#
- name: "Deploy container backup script"
  template:
    src: backup-containers.j2
    dest: /usr/local/bin/backup-containers
    owner: root
    group: root
    mode: 0755
    backup: no

#
# コンテナリストア用のスクリプトを導入
#
- name: "Deploy container restore script"
  template:
    src: restore-container.j2
    dest: /usr/local/bin/restore-container
    owner: root
    group: root
    mode: 0755
    backup: no


# /usr/local/share/docker-backupを作成
- name: "Create {{ docker_ce_backup_dockerfile_dir }}"
  file:
    path: "{{ docker_ce_backup_dockerfile_dir }}"
    state: directory
    owner: "root"
    group: "root"
    mode: "755"

# Dockerfileを導入
- name: "Deploy Dockerfile for docker-backup image"
  template:
    src: Dockerfile.j2
    dest: "{{ docker_ce_backup_dockerfile_dir }}/Dockerfile"
    owner: root
    group: root
    mode: 0644
    backup: no

# Dockerfileから使うスクリプトを導入
- name: "Deploy backup.sh for docker-backup container image"
  template:
    src: backup.sh.j2
    dest: "{{ docker_ce_backup_dockerfile_dir }}/backup.sh"
    owner: root
    group: root
    mode: 0644
    backup: no

# docker-backupコンテナイメージをビルド
- name: "Build docker-backup container image"
  shell: |
    cd {{ docker_ce_backup_dockerfile_dir }}
    docker build -t "{{docker_ce_backup_container_image_name}}" .
  become: true
