#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#
# コンテナバックアップ用のスクリプトを導入
#
- name: "Deploy container backup script"
  ansible.builtin.template:
    src: backup-containers.j2
    dest: /usr/local/bin/backup-containers
    owner: root
    group: root
    mode: '0755'
    backup: false
  when:
    - docker_ce_enable_backup_script|default(false)|bool
    - (docker_ce_backup_nfs_server|default("", true))|length > 0
    - (docker_ce_backup_nfs_dir|default("", true))|length > 0
    - (docker_ce_backup_mount_point|default("", true))|length > 0
    - (docker_ce_backup_output_dir|default("", true))|length > 0
    - (docker_ce_backup_dockerfile_dir|default("", true))|length > 0
    - (docker_ce_backup_rotation|default(0, true))|int > 0

#
# コンテナリストア用のスクリプトを導入
#
- name: "Deploy container restore script"
  ansible.builtin.template:
    src: restore-container.j2
    dest: /usr/local/bin/restore-container
    owner: root
    group: root
    mode: '0755'
    backup: false
  when:
    - docker_ce_enable_backup_script|default(false)|bool

# /usr/local/share/docker-backupを作成
- name: "Create {{ docker_ce_backup_dockerfile_dir }}"
  ansible.builtin.file:
    path: "{{ docker_ce_backup_dockerfile_dir }}"
    state: directory
    owner: "root"
    group: "root"
    mode: "755"

# Dockerfileを導入
- name: "Deploy Dockerfile for docker-backup image"
  ansible.builtin.template:
    src: Dockerfile.j2
    dest: "{{ docker_ce_backup_dockerfile_dir }}/Dockerfile"
    owner: root
    group: root
    mode: '0644'
    backup: false
  when:
    - docker_ce_enable_backup_script|default(false)|bool

# Dockerfileから使うスクリプトを導入
- name: "Deploy backup.sh for docker-backup container image"
  ansible.builtin.template:
    src: backup.sh.j2
    dest: "{{ docker_ce_backup_dockerfile_dir }}/backup.sh"
    owner: root
    group: root
    mode: '0644'
    backup: false
  when:
    - docker_ce_enable_backup_script|default(false)|bool

# docker-backupコンテナイメージをビルド
- name: "Build docker-backup container image"
  ansible.builtin.shell: |
    cd {{ docker_ce_backup_dockerfile_dir }}
    docker build -t "{{ docker_ce_backup_container_image_name }}" .
  become: true
  register: _result
  changed_when: _result.rc == 0
