#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#

# 古いDocker関連パッケージをアンインストールする
- name: remove old packages
  ansible.builtin.package:
    pkg:
      '{{ docker_ce_remove_packages }}'
    state: absent

# HTTPS経由でパッケージを使用できるようにするためのパッケージをインストール
- name: Install packages for certification handling
  ansible.builtin.package:
    pkg:
      '{{ docker_ce_prereq_packages }}'
    state: latest

# 公式リポジトリからDockerをインストール
- name: Install docker-ce
  ansible.builtin.package:
    pkg:
      '{{ docker_ce_packages }}'
    state: latest
  notify: docker_restarted
