---
- name: "Check vc-manager namespace exists"
  ansible.builtin.command:
    cmd: "kubectl --kubeconfig {{ virtualcluster_supercluster_kubeconfig_path }} get namespace {{ virtualcluster_namespace }}"
  register: result_namespace_check
  changed_when: false
  failed_when: false
  become: true

- name: "Fail if vc-manager namespace does not exist"
  ansible.builtin.fail:
    msg: "vc-manager namespace does not exist. Run k8s-virtual-cluster role first."
  when: result_namespace_check.rc != 0

- name: "Check ClusterVersion CRD exists"
  ansible.builtin.command:
    cmd: "kubectl --kubeconfig {{ virtualcluster_supercluster_kubeconfig_path }} get crd clusterversions.{{ virtualcluster_api_group }}"
  register: result_cv_crd_check
  changed_when: false
  failed_when: false
  become: true

- name: "Fail if ClusterVersion CRD does not exist"
  ansible.builtin.fail:
    msg: "ClusterVersion CRD does not exist. Run k8s-virtual-cluster role first."
  when: result_cv_crd_check.rc != 0

- name: "Check VirtualCluster CRD exists"
  ansible.builtin.command:
    cmd: "kubectl --kubeconfig {{ virtualcluster_supercluster_kubeconfig_path }} get crd virtualclusters.{{ virtualcluster_api_group }}"
  register: result_vc_crd_check
  changed_when: false
  failed_when: false
  become: true

- name: "Fail if VirtualCluster CRD does not exist"
  ansible.builtin.fail:
    msg: "VirtualCluster CRD does not exist. Run k8s-virtual-cluster role first."
  when: result_vc_crd_check.rc != 0
