#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright (c) 2025 Takeharu KATO
#
#  vc-managerのnamespace, ClusterVersion CRD, および, VirtualCluster CRDの存在確認
#
---

# vc-managerのnamespaceの存在確認
- name: "Check vc-manager namespace exists"
  ansible.builtin.command:
    cmd: "kubectl --kubeconfig {{ virtualcluster_supercluster_kubeconfig_path }} get namespace {{ virtualcluster_namespace }}"
  register: result_namespace_check
  changed_when: false
  failed_when: false
  become: true

# vc-managerのnamespaceが存在しない場合はエラーを出力して処理を停止する
- name: "Fail if vc-manager namespace does not exist"
  ansible.builtin.fail:
    msg: "vc-manager namespace does not exist. Run k8s-virtual-cluster role first."
  when: result_namespace_check.rc != 0

# ClusterVersion CRDの存在確認
- name: "Check ClusterVersion CRD exists"
  ansible.builtin.command:
    cmd: "kubectl --kubeconfig {{ virtualcluster_supercluster_kubeconfig_path }} get crd clusterversions.{{ virtualcluster_api_group }}"
  register: result_cv_crd_check
  changed_when: false
  failed_when: false
  become: true

# ClusterVersion CRDが存在しない場合はエラーを出力して処理を停止する
- name: "Fail if ClusterVersion CRD does not exist"
  ansible.builtin.fail:
    msg: "ClusterVersion CRD does not exist. Run k8s-virtual-cluster role first."
  when: result_cv_crd_check.rc != 0

# VirtualCluster CRDの存在確認
- name: "Check VirtualCluster CRD exists"
  ansible.builtin.command:
    cmd: "kubectl --kubeconfig {{ virtualcluster_supercluster_kubeconfig_path }} get crd virtualclusters.{{ virtualcluster_api_group }}"
  register: result_vc_crd_check
  changed_when: false
  failed_when: false
  become: true

# VirtualCluster CRDが存在しない場合はエラーを出力して処理を停止する
- name: "Fail if VirtualCluster CRD does not exist"
  ansible.builtin.fail:
    msg: "VirtualCluster CRD does not exist. Run k8s-virtual-cluster role first."
  when: result_vc_crd_check.rc != 0
