---
- name: "List all ClusterVersion instances"
  ansible.builtin.command:
    cmd: "kubectl --kubeconfig {{ virtualcluster_supercluster_kubeconfig_path }} get clusterversions -o wide"
  register: result_list_cv
  changed_when: false
  become: true
  failed_when: false

- name: "Display ClusterVersion instances"
  ansible.builtin.debug:
    var: result_list_cv.stdout_lines
  when: result_list_cv.rc == 0

- name: "List all VirtualCluster instances"
  ansible.builtin.command:
    cmd: "kubectl --kubeconfig {{ virtualcluster_supercluster_kubeconfig_path }} get virtualclusters --all-namespaces -o wide"
  register: result_list_vc
  changed_when: false
  become: true
  failed_when: false

- name: "Display VirtualCluster instances"
  ansible.builtin.debug:
    var: result_list_vc.stdout_lines
  when: result_list_vc.rc == 0
