#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  サービス関連処理
#
- name: Stop openldap container
  ansible.builtin.shell: |
    cd "{{ openldap_docker_dir }}"
    docker compose down
  ignore_errors: true

# コンテナの停止を待ち合わせる
- name: Wait for stop LDAP container
  ansible.builtin.wait_for: host={{ inventory_hostname }} port=389 state=stopped

- name: Start openldap container
  ansible.builtin.shell: |
    cd "{{ openldap_docker_dir }}"
    docker compose up -d
  ignore_errors: true

# コンテナの開始を待ち合わせる
- name: Wait for start LDAP container
  ansible.builtin.wait_for: host={{ inventory_hostname }} port=389 state=started
