#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  サービス関連処理
#
- name: Stop openldap container
  ansible.builtin.shell: |
    cd "{{ openldap_docker_dir }}"
    docker compose down
  ignore_errors: true
  register: _result
  changed_when: _result.rc == 0

# コンテナの停止を待ち合わせる
- name: Wait for stop LDAP container
  ansible.builtin.wait_for:
    host: 127.0.0.1
    port: 389
    state: stopped
    timeout: "{{ openldap_wait_timeout }}"
    delay: "{{ openldap_wait_delay }}"
    sleep: "{{ openldap_wait_sleep }}"

- name: Start openldap container
  ansible.builtin.shell: |
    cd "{{ openldap_docker_dir }}"
    docker compose up -d
  ignore_errors: true
  register: _result
  changed_when: _result.rc == 0

# コンテナの開始を待ち合わせる
- name: Wait for start LDAP container
  ansible.builtin.wait_for:
    host: "{{ inventory_hostname }}"
    port: 389
    state: started
    timeout: "{{ openldap_wait_timeout }}"
    delay: "{{ openldap_wait_delay }}"
    sleep: "{{ openldap_wait_sleep }}"
