#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#  ロール固有変数のデフォルト値
#  group_vars/all/all.yml やhost_varsで上書き可能とするため,
#  ロール名/defaults/main.yml に定義している
---
# 再起動後の応答待ちのタイムアウト時間 (秒)
reboot_timeout_sec: 600

# kube-api待機設定
k8s_api_wait_host: "{{ k8s_ctrlplane_endpoint }}"
k8s_api_wait_port: "{{ k8s_ctrlplane_port }}"
k8s_api_wait_timeout: 600
k8s_api_wait_delay: 2
k8s_api_wait_sleep: 1

# Kubernetesオペレータユーザ設定
k8s_operator_user: "kube"
# Kubernetesオペレータユーザのホームディレクトリ
k8s_operator_home: "/home/kube"
# Kubernetesオペレータユーザのデフォルトシェル
k8s_operator_shell: "/bin/bash"
# Kubernetesオペレータユーザの所属グループ
k8s_operator_groups_list: "{{ adm_groups }}"

# 環境セットアップ時のスクリプト格納先ディレクトリのプレフィックス
k8s_node_setup_tools_prefix: "/opt/k8snodes"
# 環境セットアップ時のスクリプト格納先ディレクトリ
k8s_node_setup_tools_dir: "{{ k8s_node_setup_tools_prefix }}/sbin"
# 環境セットアップ時のスクリプト関連文書格納先ディレクトリ
k8s_node_setup_tools_docs_dir: "{{ k8s_node_setup_tools_prefix }}/docs"

#
# kubeconfigファイル操作スクリプト設定
#

# 証明書埋め込み版kubeconfigファイル作成スクリプトのパス
k8s_embed_kubeconfig_script_path: "{{ k8s_node_setup_tools_dir }}/create-embedded-kubeconfig.py"
# 証明書埋め込み版kubeconfig作成に使用する元のkubeconfigファイルパス
k8s_embed_kubeconfig_admin_conf: "/etc/kubernetes/admin.conf"
# 証明書埋め込み版kubeconfigファイルの出力先ディレクトリ
k8s_embed_kubeconfig_output_dir: "{{ k8s_operator_home }}/.kube"
# 証明書埋め込み版kubeconfigファイルの名前の接尾辞
k8s_embed_kubeconfig_file_postfix: "-embedded.kubeconfig"
# 証明書埋め込み版kubeconfigファイルのcontext名
# 未定義, または, 空文字列の場合はkubeadmの設定値から変更しない
k8s_embed_kubeconfig_context_name: "{{ k8s_cilium_cm_cluster_name | default('',true) }}"
# 証明書埋め込み版kubeconfigファイルのuser名のコンテキスト名の前につける接頭辞
k8s_embed_kubeconfig_user_name_prefix: "admin-"
# 証明書埋め込み版kubeconfigファイルのuser名のコンテキスト名の前につける接尾辞
k8s_embed_kubeconfig_user_name_postfix: ""
# 証明書埋め込み版kubeconfigファイルのuser名
# 未定義, または, 空文字列の場合はkubeadmの設定値から変更しない
# 注意: ternary関数を使用して, k8s_cilium_cm_cluster_name が未定義または空文字列の場合に
# 空文字列を設定するようにしている。
# 空文字列以外で定義されている場合は, 接頭辞, 接尾辞をクラスタ名に付与した値を設定する
k8s_embed_kubeconfig_user_name: "{{ (k8s_cilium_cm_cluster_name | default('', true)) | ternary((k8s_embed_kubeconfig_user_name_prefix | default('', true)) ~ k8s_cilium_cm_cluster_name ~ (k8s_embed_kubeconfig_user_name_postfix | default('', true)), '') }}"
# kubeconfigファイル結合ツールのパス
k8s_create_unique_kubeconfig_script_path: "{{ k8s_node_setup_tools_dir }}/create-uniq-kubeconfig.py"

#
# Kubernetes コントロールプレインノード固有設定
#

# 物理サーバ/管理用VMネットワークのIPv4CIDR
network_ipv4_cidr: "{{network_ipv4_network_address}}/{{network_ipv4_prefix_len}}"
# 物理サーバ/管理用VMネットワークのIPv6CIDR
network_ipv6_cidr: "{{network_ipv6_network_address}}/{{ network_ipv6_prefix_len }}"

# kubeadm設定ファイル格納ディレクトリ
k8s_kubeadm_config_store: "{{ ansible_home_dir }}/kubeadm"

# kubeadm preflight ignore errors argumentの指定値
k8s_kubeadm_ignore_preflight_errors_arg: "--ignore-preflight-errors=all"

# Kubernetes コントロールプレインノード使用ポート
k8s_control_plane_ports:
  - "6443/tcp"        # kube-apiserver
  - "10250/tcp"       # kubelet HTTPS
  - "10257/tcp"       # controller-manager
  - "10259/tcp"       # scheduler
  - "2379-2380/tcp"   # etcd (ローカル etcd の場合)

# ノイズ測定グラフ作成用にgnuplot, python3-pip, python3-matplotlibを導入している
# 本来は, グラフ作成作業ノードだけに導入すればよいが, ここでは,
# 全コントロールプレインに導入している
k8s_netgauge_packages:
  - python3-pip
  - gnuplot
  - python3-matplotlib
  - python3-numpy

# Helmのアーカイブ名
k8s_helm_archive_name: "helm-v{{ k8s_helm_version }}-linux-amd64.tar.gz"
# HelmのダウンロードURL
k8s_helm_download_url: "https://get.helm.sh/{{ k8s_helm_archive_name }}"
# HelmのチェックサムダウンロードURL
k8s_helm_checksum_download_url: "{{ k8s_helm_download_url }}.sha256sum"
# Helm 最新版インストールスクリプトのURL
k8s_helm_install_script_url: "https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3"
# Helm用のコマンド補完設定を有効化する
k8s_helm_cli_completion_enabled: true

# Kubernetes Cilium 設定ディレクトリパス
k8s_cilium_config_dir: "{{ k8s_kubeadm_config_store }}/cilium"

# 共通CAで Kubernetes のルートCAを置き換えるか
k8s_shared_ca_replace_kube_ca: false

# Cilium CLI用のコマンド補完設定を有効化する
k8s_cilium_cli_completion_enabled: true
# Cilium CLI アーカイブ名とダウンロードURL
k8s_cilium_cli_archive_name: "cilium-linux-amd64.tar.gz"
k8s_cilium_cli_download_url: "https://github.com/cilium/cilium-cli/releases/latest/download/{{ k8s_cilium_cli_archive_name }}"
k8s_cilium_cli_checksum_url: "{{ k8s_cilium_cli_download_url }}.sha256sum"

# Cilium Helm Chartのバージョン
k8s_cilium_helm_chart_version: "{{ k8s_cilium_version }}"
# Ciliumコンテナイメージのバージョン
k8s_cilium_image_version: "v{{ k8s_cilium_version }}"
# Cilium Helm リポジトリ URL
k8s_cilium_helm_repo_url: "https://helm.cilium.io/"
# コントロールプレイン再構築時に古いCilium CRDを削除してから再インストールするか
k8s_cilium_delete_legacy_crds: true
# Cilium HelmチャートからCRDを適用するかどうか
k8s_cilium_manage_crds: true
# Helm再導入前に既存のCilium ServiceAccountを削除するか
k8s_cilium_cleanup_serviceaccounts: true
