#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  ロール固有変数のデフォルト値
#  group_vars/all/all.yml やhost_varsで上書き可能とするため,
#  ロール名/defaults/main.yml に定義している
---
# Virtual Cluster インスタンス管理の有効化フラグ
k8s_vcinstances_enabled: false

# 設定ファイル格納ディレクトリパス
vcinstances_config_dir: "{{ k8s_kubeadm_config_store | default(ansible_user + '/kubeadm', true) }}/vc-instances"

# スーパークラスタからのイメージ自動検出フラグ
vcinstances_auto_detect_supercluster_images: true

# ClusterVersion インスタンスリスト
vcinstances_clusterversions: []

# VirtualCluster インスタンスリスト
vcinstances_virtualclusters: []

# k8s-virtual-cluster ロール由来の変数 (既定値)
virtualcluster_api_group: "tenancy.x-k8s.io"
virtualcluster_api_version: "v1alpha1"
virtualcluster_namespace: "vc-manager"
virtualcluster_supercluster_kubeconfig_path: "/etc/kubernetes/admin.conf"
