#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  設定関連タスク
#

# kube-apiが使えるようになるのを待ち合わせる
- name: wait for kube-api-server
  local_action: wait_for host={{ k8s_ctrlplane_endpoint }} port=6443 state=started

# Whereaboutsのインストール
- name: Install Whereabouts
  shell: |
    helm upgrade --install whereabouts {{ k8s_whereabouts_chart_url }} \
    --namespace kube-system \
    --version {{ k8s_whereabouts_helm_chart_version }}
  environment:
    KUBECONFIG: /etc/kubernetes/admin.conf
  become: true

# NetworkAttachmentDefinition (NAD)設定ファイル生成
- name: Setup whereabouts NetworkAttachmentDefinition (NAD) file
  template:
    src: ipvlan-wb-nad.yml.j2
    dest: "{{ k8s_whereabouts_config_dir }}/ipvlan-wb-nad.yml"
    owner: root
    group: root
    mode: 0644
    backup: no

# NetworkAttachmentDefinition (NAD)適用
- name: Apply NetworkAttachmentDefinition (NAD)
  shell: |
    kubectl apply -f "{{ k8s_whereabouts_config_dir }}/ipvlan-wb-nad.yml"
  environment:
    KUBECONFIG: /etc/kubernetes/admin.conf
  become: true
