#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  タスクメイン部
#
#  include_tasksで他のタスクを読み込む
#

# 最初に変数設定を読み直す ( role単独で実行可能とするため )
- ansible.builtin.include_tasks: load-params.yml
- ansible.builtin.include_tasks: repositories.yml
- ansible.builtin.include_tasks: package.yml
- ansible.builtin.include_tasks: directory.yml
- ansible.builtin.include_tasks: user_group.yml
- ansible.builtin.include_tasks: service.yml
- ansible.builtin.include_tasks: config.yml
