#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
# Autoremove関連のハンドラ

# Debian系での不要パッケージの自動削除処理
- name: "APT Autoremove (Debian)"
  listen: "pkg-autoremove"
  ansible.builtin.shell: |
    apt autoremove -y
  become: true
  when: ansible_facts.os_family == 'Debian'
  register: _result
  changed_when: _result.rc == 0

# RHEL系での不要パッケージの自動削除処理
- name: "DNF Autoremove (RHEL)"
  listen: "pkg-autoremove"
  ansible.builtin.shell: |
    dnf autoremove -y
  become: true
  when: ansible_facts.os_family == 'RedHat'
  register: _result
  changed_when: _result.rc == 0
