#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#  ロール固有変数のデフォルト値
#  group_vars/all/all.yml やhost_varsで上書き可能とするため,
#  ロール名/defaults/main.yml に定義している
---
# 再起動後の応答待ちのタイムアウト時間 (秒)
reboot_timeout_sec: 600

## Kubernetesオペレータユーザ設定
k8s_operator_user: "kube"
# Kubernetesオペレータユーザのホームディレクトリ
k8s_operator_home: "/home/kube"
# Kubernetesオペレータユーザのデフォルトシェル
k8s_operator_shell: "/bin/bash"
# Kubernetesオペレータユーザの所属グループ
k8s_operator_groups_list: "{{ adm_groups }}"

# 環境セットアップ時のスクリプト格納先ディレクトリのプレフィックス
k8s_node_setup_tools_prefix: "/opt/k8snodes"
# 環境セットアップ時のスクリプト格納先ディレクトリ
k8s_node_setup_tools_dir: "{{ k8s_node_setup_tools_prefix }}/sbin"
# 環境セットアップ時のスクリプト関連文書格納先ディレクトリ
k8s_node_setup_tools_docs_dir: "{{ k8s_node_setup_tools_prefix }}/docs"

# kubeadm設定ファイル格納ディレクトリ
k8s_kubeadm_config_store: "{{ ansible_home_dir }}/kubeadm"


# k8sの各ノードへログインするために使用する公開鍵を得るためのgithubアカウントのリスト
k8s_operator_github_key_list: []

# k8sの各ノードへログインするために使用する公開鍵のリスト
# 形式: .ssh/authorized_keysに追記する公開鍵文字列のリスト
# k8s_operator_authorized_key_list:
#  - "公開鍵文字列1 (.ssh/authorized_keysに追記する形式)"
# 例:
# k8s_operator_authorized_key_list:
#   - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIExampleKeyForK8sOperator k8s-operator@example"
k8s_operator_authorized_key_list: []

# kubectl シェル補完設定
kubectl_completion_enabled: true

#
# kubeconfigファイル操作スクリプト設定
#

# 証明書埋め込み版kubeconfigファイル作成スクリプトのパス
k8s_embed_kubeconfig_script_path: "{{ k8s_node_setup_tools_dir }}/create-embedded-kubeconfig.py"
# 証明書埋め込み版kubeconfig作成に使用する元のkubeconfigファイルパス
k8s_embed_kubeconfig_admin_conf: "/etc/kubernetes/admin.conf"
# 証明書埋め込み版kubeconfigファイルの出力先ディレクトリ
k8s_embed_kubeconfig_output_dir: "{{ k8s_operator_home }}/.kube"
# 証明書埋め込み版kubeconfigファイルの名前の接尾辞
k8s_embed_kubeconfig_file_postfix: "-embedded.kubeconfig"
# kubeconfigファイル結合ツールのパス
k8s_create_unique_kubeconfig_script_path: "{{ k8s_node_setup_tools_dir }}/create-uniq-kubeconfig.py"

# kubeletの共通起動オプション
# jinja2でテンプレートファイルからファイル生成時に使用するので指定オプションがない場合でも,
# 空文字列として変数は定義しておくこと
k8s_kubelet_extra_args_common: "--cgroup-driver=systemd"

# Kubernetes 共通ノード使用ポート
k8s_common_ports: []

# Pod CIDR リスト
k8s_pod_cidrs:
  - { family: "ipv4", cidr: "{{ k8s_pod_ipv4_network_cidr }}" }
  - { family: "ipv6", cidr: "{{ k8s_pod_ipv6_network_cidr }}" }

# kubepodsスライスのcpusetをアプリケーションCPUに寄せる
# 以下をtrueにすると, Ciliumなどのkube-system 名前空間のpodも
# アプリケーションコアで動作してしまうため, 有効にすべきかは要検討
# K8s側でSystem Reseved CPUを設定しているため, kube-system以外のpodは
# それ以外のCPUに割り付けられるはずであるため, SystemDのkubepodsスライスは
# 設定しない(以下をfalseに設定するか, k8s_use_kubepods_cpuset変数を定義しない)
# が正しいと考えられる
# (参考: https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/)
k8s_use_kubepods_cpuset: false

# k8s-python開発パッケージ群(ランタイム)インストール有無
k8s_python_packages_enabled: true
# Kubernetes開発関連Pythonパッケージインストール有無n
k8s_python_devel_packages_enabled: false
