#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#  ロール固有変数のデフォルト値
#  group_vars/all/all.yml やhost_varsで上書き可能とするため,
#  ロール名/defaults/main.yml に定義している
---

# kubectl シェル補完設定
kubectl_completion_enabled: true
# k8s-python開発パッケージ群(ランタイム)インストール有無
k8s_python_packages_enabled: true
# Kubernetes開発関連Pythonパッケージインストール有無n
k8s_python_devel_packages_enabled: true
