#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  パッケージ関連処理 (Ansible < 2.15用)
---


# Terraform導入に必要なパッケージをインストール
- name: "Install required packages for terraform"
  ansible.builtin.package:
    name:
      - gnupg
      - software-properties-common
    state: present
  when:
    - ansible_facts.os_family == "Debian"

# HashiCorpリポジトリを追加 (Debian系)
- name: "Update apt cache before adding HashiCorp repository"
  ansible.builtin.apt:
    update_cache: yes
  when:
    - ansible_facts.os_family == "Debian"

# HashiCorp GPGキーを追加 (Debian系)
- name: "Add HashiCorp GPG key"
  ansible.builtin.shell: |
    curl -fsSL {{ terraform_repository_url_debian }}/gpg | gpg --dearmor -o "{{ terraform_apt_keyring_debian }}"
    chmod 0644 "{{ terraform_apt_keyring_debian }}"
  when:
    - ansible_facts.os_family == "Debian"

# HashiCorpリポジトリを追加 (Debian系, apt_repository形式)
- name: "Add HashiCorp APT repository (APT)"
  ansible.builtin.apt_repository:
    repo: "deb [signed-by={{ terraform_apt_keyring_debian }}] {{ terraform_repository_url_debian }} {{ ansible_distribution_release }} main"
    state: present
    filename: "hashicorp"
  notify: "apt update"
  when:
    - ansible_facts.os_family == "Debian"

# リポジトリ追加後にaptキャッシュを更新 (Debian系)
- name: "Update apt cache"
  ansible.builtin.apt:
    update_cache: yes
  when:
    - ansible_facts.os_family == "Debian"

# HashiCorpリポジトリを追加 (RHEL系)
- name: "Ensure HashiCorp YUM repository is present (RHEL)"
  ansible.builtin.yum_repository:
    name: "hashicorp"
    description: "HashiCorp Stable - $basearch"
    baseurl: "{{ terraform_repository_url_rhel }}/RHEL/$releasever/$basearch/stable"
    gpgcheck: yes
    gpgkey: "{{ terraform_repository_url_rhel }}/gpg"
    enabled: yes
  when:
    - ansible_facts.os_family == "RedHat"

# terraformをインストール
- name: "Install terraform package"
  ansible.builtin.package:
    name: terraform
    state: present
