#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  設定関連タスク
#
---

# Gitlabのクリーンインストールが指定されている場合,
# 既存の設定を削除する
- name: "Remove existing GitLab configuration for clean install"
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - "{{ gitlab_config_dir }}"
    - "{{ gitlab_logs_dir }}"
    - "{{ gitlab_data_dir }}"
  become: true
  when:
    - gitlab_clean_install | bool

# Gitlabのクリーンインストールが指定されている場合,
# 既存のgitlabホームディレクトリを削除する
- name: "Remove existing GitLab home directory for clean install"
  file:
    path: "{{ gitlab_home_dir }}"
    state: absent
  when:
    - gitlab_clean_install | bool
  become: true

# gitlabのコンテナ/イメージ削除が指定されている場合,
# 既存のコンテナ/イメージを削除する
- name: "Remove existing GitLab Docker containers and images"
  ansible.builtin.shell: |
    docker image rm -f $(docker image ls -aq --filter=reference='{{ gitlab_docker_image }}') || true
    docker image rm -f $(docker image ls -aq --filter=reference='{{ gitlab_runner_docker_image }}') || true
  when:
    - gitlab_remove_container_images | bool
  become: true
