#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  タスクメイン部
#
#  include_tasksで他のタスクを読み込む
#
---

# 最初に変数設定を読み直す ( role単独で実行可能とするため )
- name: "Load Params"
  ansible.builtin.include_tasks: load-params.yml
- name: "Package"
  ansible.builtin.include_tasks: package.yml
# サービス停止タスクを最初に実行する
- name: "Stop Service"
  ansible.builtin.include_tasks: stop-service.yml
# クリーンインストール指示がある場合の処理をディレクトリ
# 作成処理の前に実行する
- name: "Config Clean Install"
  ansible.builtin.include_tasks: config-clean-install.yml
- name: "Directory"
  ansible.builtin.include_tasks: directory.yml
- name: "Directory Gitlab"
  ansible.builtin.include_tasks: directory-gitlab.yml
- name: "User Group"
  ansible.builtin.include_tasks: user_group.yml
# sysctl設定をサービス起動前に適用
- name: "Sysctl"
  ansible.builtin.include_tasks: sysctl.yml
# サービス起動タスクを実行する
- name: "Service"
  ansible.builtin.include_tasks: service.yml
- name: "Config"
  ansible.builtin.include_tasks: config.yml
- name: "Config Docker"
  ansible.builtin.include_tasks: config-docker.yml
