#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  タスクメイン部
#
#  include_tasksで他のタスクを読み込む
#
---

# 最初に変数設定を読み直す ( role単独で実行可能とするため )
- include_tasks: load-params.yml
- include_tasks: package.yml
  when: gitlab_hostname is defined and gitlab_hostname != ""
# サービス停止タスクを最初に実行する
- include_tasks: stop-service.yml
  when: gitlab_hostname is defined and gitlab_hostname != ""
# クリーンインストール指示がある場合の処理をディレクトリ
# 作成処理の前に実行する
- include_tasks: config-clean-install.yml
  when: gitlab_hostname is defined and gitlab_hostname != ""
- include_tasks: directory.yml
  when: gitlab_hostname is defined and gitlab_hostname != ""
- include_tasks: directory-gitlab.yml
  when: gitlab_hostname is defined and gitlab_hostname != ""
- include_tasks: user_group.yml
  when: gitlab_hostname is defined and gitlab_hostname != ""
# サービス起動タスクを実行する
- include_tasks: service.yml
  when: gitlab_hostname is defined and gitlab_hostname != ""
- include_tasks: config.yml
  when: gitlab_hostname is defined and gitlab_hostname != ""
