#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  サービス停止タスク
#
---

# Gitlab homeディレクトリが存在することを確認する
- name: Check if GitLab home directory exists
  ansible.builtin.stat:
    path: "{{ gitlab_home_dir }}"
  register: gitlab_home_dir_stat
  become: true

# docker-compose.ymlファイルが存在することを確認する
- name: Check if docker-compose.yml file exists
  ansible.builtin.stat:
    path: "{{ gitlab_docker_compose_file }}"
  register: gitlab_docker_compose_file_stat

# Gitlabサービスを停止する
- name: Stop GitLab service container
  ansible.builtin.shell: |
    docker compose -f {{ gitlab_docker_compose_file }} down
  args:
    chdir: "{{ gitlab_home_dir }}"
  when:
    - gitlab_home_dir_stat.stat.exists
    - gitlab_docker_compose_file_stat.stat.exists
  become: true
  changed_when: false

# GitLabサービスの停止を確認する
- name: Wait for GitLab HTTPS port to stop
  ansible.builtin.wait_for:
    host: "{{ gitlab_wait_host_stopped }}"
    port: "{{ gitlab_https_port }}"
    state: stopped
    timeout: "{{ gitlab_wait_timeout }}"
    delay: "{{ gitlab_wait_delay }}"
    sleep: "{{ gitlab_wait_sleep }}"
  when:
    - gitlab_home_dir_stat.stat.exists
    - gitlab_docker_compose_file_stat.stat.exists

- name: Wait for GitLab SSH port to stop
  ansible.builtin.wait_for:
    host: "{{ gitlab_wait_host_stopped }}"
    port: "{{ gitlab_ssh_port }}"
    state: stopped
    timeout: "{{ gitlab_wait_timeout }}"
    delay: "{{ gitlab_wait_delay }}"
    sleep: "{{ gitlab_wait_sleep }}"
  when:
    - gitlab_home_dir_stat.stat.exists
    - gitlab_docker_compose_file_stat.stat.exists

- name: Wait for GitLab Registry port to stop
  ansible.builtin.wait_for:
    host: "{{ gitlab_wait_host_stopped }}"
    port: "{{ gitlab_registry_port }}"
    state: stopped
    timeout: "{{ gitlab_wait_timeout }}"
    delay: "{{ gitlab_wait_delay }}"
    sleep: "{{ gitlab_wait_sleep }}"
  when:
    - gitlab_home_dir_stat.stat.exists
    - gitlab_docker_compose_file_stat.stat.exists
