#!/usr/bin/env bash
# -*-mode: bash; coding:utf-8-*-
# SPDX-License-Identifier: BSD-2-Clause
#
# Copyright (c) 2025 TAKEHARU KATO
# This file is distributed under the two-clause BSD license.
# For the full text of the license, see the LICENSE file in the project root directory.
# このファイルは2条項BSDライセンスの下で配布されています。
# ライセンス全文はプロジェクト直下の LICENSE を参照してください。
#
# OpenAI's ChatGPT partially generated this code.
# Author has modified some parts.
# OpenAIのChatGPTがこのコードの一部を生成しました。
# 著者が修正している部分があります。
#
# 全てのDockerイメージを削除するスクリプト
#
# Dockerイメージが大量に溜まってディスクスペースを圧迫している場合に使用することを想定しています。
# 注意: このスクリプトは全てのDockerイメージを削除するため, 必要なイメージがある場合は事前にバックアップを取ることをお勧めします。

docker rm -f `docker ps -a -q` || :
docker system prune -a -f
