#
# 設定を更新後にマシンを強制的にリブートする
#

- name: Force reboot if enabled
  block:
    # マシンをリブートする
    - name: Reboot host gracefully
      ansible.builtin.reboot:
        reboot_timeout: "{{ reboot_timeout_sec }}"
        msg: "Reboot triggered by role: common"
        pre_reboot_delay: 2

  when: force_reboot | default(false) | bool

# ログを残したい場合のみ
- name: Reboot skipped (force_reboot is false)
  ansible.builtin.debug:
    msg: "Reboot skipped because force_reboot is not set to true"
  when: not (force_reboot | default(false) | bool)
