#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  Helm のシェル補完設定
#
---

# Helm bash/zsh 用のシェル補完スクリプト用ディレクトリを作成
- name: Ensure directory for Helm bash completion
  become: true
  ansible.builtin.file:
    path: "{{ helm_bash_completion_path | dirname }}"
    state: directory
    owner: root
    group: root
    mode: "0755"
  when: k8s_helm_cli_completion_enabled | default(false) | bool

# Helm bash 用のシェル補完スクリプトを生成
- name: Generate Helm bash completion script
  become: true
  ansible.builtin.command: helm completion bash
  register: helm_bash_completion_command
  changed_when: false
  when: k8s_helm_cli_completion_enabled | default(false) | bool

# Helm bash 用のシェル補完スクリプトを配置
- name: Install Helm bash completion script
  become: true
  ansible.builtin.copy:
    content: "{{ helm_bash_completion_command.stdout }}\n"
    dest: "{{ helm_bash_completion_path }}"
    owner: root
    group: root
    mode: "0644"
  when:
    - k8s_helm_cli_completion_enabled | default(false) | bool
    - helm_bash_completion_command is defined

# Helm zsh 用のシェル補完スクリプト用ディレクトリを作成
- name: Ensure directory for Helm zsh completion
  become: true
  ansible.builtin.file:
    path: "{{ helm_zsh_completion_path | dirname }}"
    state: directory
    owner: root
    group: root
    mode: "0755"
  when: k8s_helm_cli_completion_enabled | default(false) | bool

# Helm zsh 用のシェル補完スクリプトを生成
- name: Generate Helm zsh completion script
  become: true
  ansible.builtin.command: helm completion zsh
  register: helm_zsh_completion_command
  changed_when: false
  when: k8s_helm_cli_completion_enabled | default(false) | bool

# Helm zsh 用のシェル補完スクリプトを配置
- name: Install Helm zsh completion script
  become: true
  ansible.builtin.copy:
    content: "{{ helm_zsh_completion_command.stdout }}\n"
    dest: "{{ helm_zsh_completion_path }}"
    owner: root
    group: root
    mode: "0644"
  when:
    - k8s_helm_cli_completion_enabled | default(false) | bool
    - helm_zsh_completion_command is defined