#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  設定関連タスク
#

# kube-apiが使えるようになるのを待ち合わせる
- name: wait for kube-api-server
  local_action: wait_for host={{ k8s_ctrlplane_endpoint }} port=6443 state=started


# Multus CNIのインストール
# https://github.com/k8snetworkplumbingwg/multus-cni/blob/master/docs/quickstart.md
# に従ってインストールする
- name: Install Multus
  shell: |
    kubectl apply -f {{ k8s_multus_daemonset_manifest_url}}
  args:
    executable: /bin/bash
  register: multus_install_command
  changed_when: "'created' in multus_install_command.stdout or 'configured' in multus_install_command.stdout"

# テスト用Podのマニュフェスト生成
- name: Setup a test pod manifest
  template:
    src: app-pod.yml.j2
    dest: "{{ k8s_multus_config_dir }}/app-pod.yml"
    owner: root
    group: root
    mode: 0644
    backup: no
