#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  設定関連タスク
#

#
# Helm導入
#

- name: Install Helm latest version
  ansible.builtin.shell: |
    set -o pipefail
    curl -fsSL {{ k8s_helm_install_script_url }} | bash
  args:
    executable: /bin/bash
  become: true
  when: k8s_helm_version is not defined or k8s_helm_version == 'latest'
  register: _result
  changed_when: _result.rc == 0

- name: "Install Helm {{ k8s_helm_version }}"
  ansible.builtin.shell: |
    curl -fsSL -o /tmp/helm.tar.gz "{{ k8s_helm_download_url }}"
    curl -fsSL -o /tmp/helm.tar.gz.sha256sum "{{ k8s_helm_checksum_download_url }}"
    tar -zxvf /tmp/helm.tar.gz -C /tmp linux-amd64/helm
    mv /tmp/linux-amd64/helm /usr/local/bin/helm
    chmod +x /usr/local/bin/helm
    helm version
  become: true
  when:
    - k8s_helm_version is defined
    - k8s_helm_version != 'latest'
  changed_when: false

- name: Install CiliumCLI
  ansible.builtin.shell: |
    curl -fsSL --remote-name {{ k8s_cilium_cli_download_url }}
    curl -fsSL --remote-name {{ k8s_cilium_cli_checksum_url }}
    sha256sum --check {{ k8s_cilium_cli_archive_name }}.sha256sum
    tar xzvfC {{ k8s_cilium_cli_archive_name }} /usr/local/bin
    rm {{ k8s_cilium_cli_archive_name }} {{ k8s_cilium_cli_archive_name }}.sha256sum
    cilium version
  become: true
  changed_when: false

#
# リポジトリの追加
#
- name: Clear all repositories
  ansible.builtin.shell: |
    set -o pipefail
    helm repo list -o yaml | yq '.[].name' | xargs -n1 helm repo remove
  args:
    executable: /bin/bash
  ignore_errors: true
  register: _result
  changed_when: _result.rc == 0

- name: Add Cilium Repository
  ansible.builtin.shell: |
    helm repo add cilium {{ k8s_cilium_helm_repo_url }}
    helm repo update cilium
  register: _result
  changed_when: _result.rc == 0

- name: Add Cilium Repository for "{{k8s_operator_user}}"
  ansible.builtin.shell: |
    sudo -u "{{k8s_operator_user}}" helm repo add cilium {{ k8s_cilium_helm_repo_url }}
    sudo -u "{{k8s_operator_user}}" helm repo update cilium
  become: true
  register: _result
  changed_when: _result.rc == 0
