#  -*- coding:utf-8 mode:yaml -*-
#  このファイルは Ansible (repo-deb ロール) により管理されています。
{# 管理対象スイートとコンポーネントを算出 #}
{% set suite = ubuntu_sources_suite %}
{% set components = ubuntu_sources_components %}
{% set archive_uris = ubuntu_archive_uris | default(['http://archive.ubuntu.com/ubuntu/'], true) %}
{% set backports_uris = ubuntu_backports_uris | default(archive_uris, true) %}
{% set main_suites = [suite] %}
{% if repo_enable_updates | bool %}
{%     set main_suites = main_suites + [suite ~ '-updates'] %}
{% endif %}
{% if repo_enable_backports | bool and backports_uris == archive_uris %}
{%     set main_suites = main_suites + [suite ~ '-backports'] %}
{% endif %}
Types: deb
URIs: {{ archive_uris | join(' ') }}
Suites: {{ main_suites | join(' ') }}
Components: {{ components | join(' ') }}
Signed-By: {{ ubuntu_archive_keyring }}

{% if repo_enable_backports | bool and backports_uris != archive_uris %}
Types: deb
URIs: {{ backports_uris | join(' ') }}
Suites: {{ suite }}-backports
Components: {{ components | join(' ') }}
Signed-By: {{ ubuntu_archive_keyring }}

{% endif %}
{% if repo_enable_security | bool %}
{%     set security_uris = ubuntu_security_uris | default(['http://security.ubuntu.com/ubuntu/'], true) %}
Types: deb
URIs: {{ security_uris | join(' ') }}
Suites: {{ suite }}-security
Components: {{ components | join(' ') }}
Signed-By: {{ ubuntu_archive_keyring }}

{% endif %}