#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
# udev のネットワーク生成ルール削除タスク
#

# 75-persistent-net-generator.rules の存在確認
- name: "Collect 75-persistent-net-generator.rules metadata"
  stat:
    path: "{{ item }}"
  loop: "{{ udev_net_generator_paths | default([], true) }}"
  register: stat_75
  when:
    - udev_net_generator_paths is defined
    - (udev_net_generator_paths | default([], true) | length ) > 0

# 75-persistent-net-generator.rules のバックアップを.origという拡張子で作成
# .rulesという拡張子でない限り, udevルールとして認識されないため
# マスクとして機能する
- name: "Backup {{ item.item }} to {{ item.item }}.orig"
  copy:
    src: "{{ item.item }}"
    dest: "{{ item.item }}.orig"
    remote_src: true
  loop: "{{ stat_75.results | default([]) }}"
  when:
    - stat_75 is defined
    - item.stat.exists
    - not (item.stat.islnk | default(false))

# 空の75-persistent-net-generator.rulesを作成してネットワークIF
# 生成ルールを無効化
# /lib/udev/rules.d/75-persistent-net-generator.rules や
# /usr/lib/udev/rules.d/75-persistent-net-generator.rules よりも
# /etc/udev/rules.d/75-persistent-net-generator.rulesが優先されるため
# udevによるネットワークインターフェースの生成が行われなくなる
- name: "Create empty 75-persistent-net-generator.rules (disable net generator rules)"
  copy:
    dest: "/etc/udev/rules.d/75-persistent-net-generator.rules"
    content: ""
    owner: root
    group: root
    mode: "0644"
  when:
    - udev_net_generator_paths is defined
    - (udev_net_generator_paths | default([], true) | length ) > 0

# 更新したルールの反映
- name: "Reload udev rules"
  shell: |
    udevadm control --reload-rules && udevadm trigger
  become: true
  when:
    - udev_net_generator_paths is defined
    - (udev_net_generator_paths | default([], true) | length ) > 0


# 70-persistent-net.rules のバックアップと空ファイル作成
- name: "Collect 70-persistent-net.rules metadata"
  stat:
    path: "{{ item }}"
  loop: "{{ udev_persistent_net_rules_paths | default([], true) }}"
  register: stat_70
  when:
    - udev_persistent_net_rules_paths is defined
    - (udev_persistent_net_rules_paths | default([], true) | length ) > 0

# 70-persistent-net.rules のバックアップを.origという拡張子で作成
# .rulesという拡張子でない限り, udevルールとして認識されないため
# マスクとして機能する
- name: "Backup {{ item.item }} to {{ item.item }}.orig"
  copy:
    src: "{{ item.item }}"
    dest: "{{ item.item }}.orig"
    remote_src: true
  loop: "{{ stat_70.results | default([], true) }}"
  when:
    - stat_70 is defined
    - item.stat.exists
    - not (item.stat.islnk | default(false))

# 空の70-persistent-net.rulesを作成して永続化ルールをマスク
# /lib/udev/rules.d/70-persistent-net.rules や
# /usr/lib/udev/rules.d/70-persistent-net.rules よりも
# /etc/udev/rules.d/70-persistent-net.rulesが優先されるため
# udevによるネットワークインターフェース名の永続化が行われなくなる
- name: "Create empty 70-persistent-net.rules (mask persistent rules)"
  copy:
    dest: "/etc/udev/rules.d/70-persistent-net.rules"
    content: ""
    owner: root
    group: root
    mode: "0644"

# 更新したルールの反映
- name: "Reload udev rules"
  shell: |
    udevadm control --reload-rules && udevadm trigger
  become: true
  when:
    - udev_net_generator_paths is defined
    - (udev_net_generator_paths | default([], true) | length ) > 0

# ifcfg-* ファイルの検出
- name: Find ifcfg-* files
  find:
    paths: "{{ etc_default_dir }}/network-scripts/"
    patterns: "ifcfg-*"
    file_type: file
  register: ifcfg_files

# ifcfg-* ファイルの削除
- name: Remove ifcfg files
  file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ ifcfg_files.files }}"
