#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  パッケージ関連処理
#

#
# kubectl関連パッケージのインストール
#

- name: Install K8s prerequisite packages like ca-certificates curl
  ansible.builtin.package:
    pkg:
      "{{ k8s_common_prerequisite_packages }}"
    state: latest
