#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#  リブートタスク

# 再起動要求があることを確認する
- name: stat /var/run/reboot-required
  ansible.builtin.stat: path=/var/run/reboot-required
  register: reboot_required

#
# 設定を更新したらリブート
#

- block:

  # GUIを無効化する
  - name: disable_gui
    ansible.builtin.shell: |
      systemctl set-default multi-user.target
    become: true

  # マシンをリブートする
  - name: Reboot host gracefully
    ansible.builtin.reboot:
      reboot_timeout: 600
      msg: "Reboot triggered by role: common"
      pre_reboot_delay: 2

  # ssh が使えるようになるのを待つ
  - name: Wait for connection after reboot
    ansible.builtin.wait_for_connection:
      timeout: 300

  when:
    - reboot_required.stat.exists
