#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#  リブートタスク

# 再起動要求があることを確認する
- name: Stat /var/run/reboot-required
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: reboot_required

#
# 設定を更新したらリブート
#

- name: Disable GUI and reboot
  when:
    - reboot_required.stat.exists
  block:
    # GUIを無効化する
    - name: Disable_gui
      ansible.builtin.shell: |
        systemctl set-default multi-user.target
      become: true
      register: _result
      changed_when: _result.rc == 0

    # マシンをリブートする
    - name: Reboot host gracefully
      ansible.builtin.reboot:
        reboot_timeout: "{{ reboot_timeout_sec }}"
        msg: "Reboot triggered by role: common"
        pre_reboot_delay: 2
