#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  パッケージ関連処理
#

# 証明書が既にあるか確認する
- name: "stat {{ rancher_cert_dir }}/cert.pem"
  ansible.builtin.stat: path="{{ rancher_cert_dir }}/cert.pem"
  register: cert_check

# pyOpenSSL をインストールするためにpipを導入し,
# OpenSSLの秘密鍵を生成するためにpyOpenSSL をインストール
- name: Install pip/pyOpenSSL for pyOpenSSL
  ansible.builtin.package:
    pkg:
      '{{ rancher_pyopenssl_packages }}'
    state:
      latest
  when:
    - not cert_check.stat.exists
