#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  Ubuntu固有リポジトリ関連タスク
#

# Ubuntu deb822 ソースを設定する
- name: Remove legacy repo-deb deb822 sources
  ansible.builtin.file:
    path: "/etc/apt/sources.list.d/{{ item }}"
    state: absent
  loop:
    - "ubuntu-main.sources"
    - "ubuntu-updates.sources"
    - "ubuntu-security.sources"
    - "ubuntu-backports.sources"
  notify: "apt update"

- name: Install consolidated ubuntu.sources
  ansible.builtin.template:
    src: "ubuntu.sources.j2"
    dest: "/etc/apt/sources.list.d/ubuntu.sources"
    owner: "root"
    group: "root"
    mode: "0644"
  notify: "apt update"
