#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#  bash関連ファイル・ディレクトリ作成関連タスク

#
# bash用のプロキシ設定ファイルの生成
#
- name: Deploy a proxy setting file for Bash
  ansible.builtin.template:
    src: _bshrc.proxy.j2
    dest: /etc/skel/.bashrc.proxy
    owner: root
    group: root
    mode: '0644'
    backup: false

#
# bash用のLmod設定ファイルの生成
#
- name: Deploy a Lmod setting file for Bash
  ansible.builtin.template:
    src: _bshrc.lmod.j2
    dest: /etc/skel/.bashrc.lmod
    owner: root
    group: root
    mode: '0644'
    backup: false

#
# .bashrcのスケルトンに補完設定処理を追加する
# [ -f ~/.bashrc.proxy ] && source ~/.bashrc.proxy
#
- name: Add sourcing completion setting line into /etc/skel/.bashrc
  ansible.builtin.lineinfile:
    path: /etc/skel/.bashrc
    regexp: '^\[ \-f /usr/share/bash-completion/bash_completion \] && source /usr/share/bash-completion/bash_completion'
    insertafter: EOF
    line: '[ -f /usr/share/bash-completion/bash_completion ] && source /usr/share/bash-completion/bash_completion # load bash completion'
    backup: false

#
# .bashrcのスケルトンにプロキシ設定読込行を追加する
# [ -f ~/.bashrc.proxy ] && source ~/.bashrc.proxy
#
- name: Add sourcing proxy setting line into /etc/skel/.bashrc
  ansible.builtin.lineinfile:
    path: /etc/skel/.bashrc
    regexp: '^\[ \-f ${HOME}/.bashrc.proxy \] && source ${HOME}/.bashrc.proxy'
    insertafter: EOF
    line: '[ -f ${HOME}/.bashrc.proxy ] && source ${HOME}/.bashrc.proxy # load proxy settings'
    backup: false

#
# .bashrcのスケルトンに個人設定ファイル読込行を追加する
# [ -f ~/.bashrc.mine ] && source ~/.bashrc.mine
#
- name: Add sourcing personal setting line into /etc/skel/.bashrc
  ansible.builtin.lineinfile:
    path: /etc/skel/.bashrc
    regexp: '^\[ \-f ${HOME}/.bashrc.mine \] && source ${HOME}/.bashrc.mine'
    insertafter: EOF
    line: '[ -f ${HOME}/.bashrc.mine ] && source ${HOME}/.bashrc.mine # load personal settings'
    backup: false

#
# .bashrcのスケルトンにLmod設定ファイル読込行を追加する
# [ -f ~/.bashrc.lmod ] && source ~/.bashrc.lmod
#
- name: Add sourcing Lmod setting line into /etc/skel/.bashrc
  ansible.builtin.lineinfile:
    path: /etc/skel/.bashrc
    regexp: '^\[ \-f ${HOME}/.bashrc.lmod \] && source ${HOME}/.bashrc.lmod'
    insertafter: EOF
    line: '[ -f ${HOME}/.bashrc.lmod ] && source ${HOME}/.bashrc.lmod # load Lmod settings'
    backup: false
