#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#  ファイル・ディレクトリ作成関連タスク

#
# /usr/local/binが存在することを保証
#
- name: Create /usr/local/bin
  file:
    path: "/usr/local/bin"
    state: directory
    owner: "root"
    group: "root"
    mode: "755"
