#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Emacs パッケージインストール内部ループ(1要素をインストール)

- name: Check install-emacs-packages.sh presence
  vars:
    outer_user_name: "{{ outer_item.name | default('', true) }}"
    outer_user_group: "{{ outer_item.group | default(outer_item.name | default('', true), true) }}"
    outer_user_home: "{{ outer_item.home | default('/home/' ~ (outer_item.name | default('', true)), true) }}"
    outer_user_shell: "{{ outer_item.shell | default('/bin/bash', true) }}"
  stat:
    path: "{{ outer_user_home }}/bin/install-emacs-packages.sh"
  register: install_emacs_script
  when:
    - ( outer_user_name | length ) > 0

# Emacs パッケージをインストール
# (install-emacs-packages.sh がホーム配下に存在し,
#  create_user_emacs_package_list が定義済みで要素数が 1 以上の場合)
- name: install one emacs package
  vars:
    outer_user_name: "{{ outer_item.name | default('', true) }}"
    outer_user_group: "{{ outer_item.group | default(outer_item.name | default('', true), true) }}"
    outer_user_home: "{{ outer_item.home | default('/home/' ~ (outer_item.name | default('', true)), true) }}"
    outer_user_shell: "{{ outer_item.shell | default('/bin/bash', true) }}"
  shell: |
    sudo -i -u "{{ outer_user_name }}" "{{ outer_user_shell }}" "{{ outer_user_home }}/bin/install-emacs-packages.sh" "{{ item }}"
  loop: "{{ create_user_emacs_package_list | default([]) }}"
  when:
    - install_emacs_script is defined
    - install_emacs_script.stat is defined
    - install_emacs_script.stat.exists
    - (create_user_emacs_package_list | default([], true) | length) > 0
    - ( outer_user_name | length ) > 0
