#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#  タスクメイン部
#  include_tasksで他のタスクを読み込む

# 最初に変数設定を読み直す ( role単独で実行可能とするため )
- name: "Load Params"
  ansible.builtin.include_tasks: load-params.yml
- name: "Package"
  ansible.builtin.include_tasks: package.yml
- name: "Directory"
  ansible.builtin.include_tasks: directory.yml
# bash関連ファイル, ディレクトリ作成関連タスク
- name: "Directory Bash"
  ansible.builtin.include_tasks: directory-bash.yml
# zsh関連ファイル, ディレクトリ作成関連タスク
- name: "Directory Zsh"
  ansible.builtin.include_tasks: directory-zsh.yml
# ssh関連ファイル, ディレクトリ作成関連タスク
- name: "Directory Ssh"
  ansible.builtin.include_tasks: directory-ssh.yml
# curl関連ファイル, ディレクトリ作成関連タスク
- name: "Directory Curl"
  ansible.builtin.include_tasks: directory-curl.yml
# wget関連ファイル, ディレクトリ作成関連タスク
- name: "Directory Wget"
  ansible.builtin.include_tasks: directory-wget.yml
# GNU screen関連ファイル, ディレクトリ作成関連タスク
- name: "Directory Screen"
  ansible.builtin.include_tasks: directory-screen.yml
# tmux関連ファイル, ディレクトリ作成関連タスク
- name: "Directory Tmux"
  ansible.builtin.include_tasks: directory-tmux.yml
# aspell関連ファイル, ディレクトリ作成関連タスク
- name: "Directory Aspell"
  ansible.builtin.include_tasks: directory-aspell.yml
# git関連ファイル作成タスク
# /etc/skelに.gitignoreを配置
- name: "Directory Gitignore"
  ansible.builtin.include_tasks: directory-gitignore.yml
# gdb関連ファイル, ディレクトリ作成関連タスク
- name: "Directory Gdb"
  ansible.builtin.include_tasks: directory-gdb.yml
# ホームディレクトリのバックアップ関連タスク
# バックアップスクリプトで必要な変数が全て定義されている場合にのみ,
# バックアップスクリプト関連タスクを実行する
- name: "Directory Home Backup Script"
  ansible.builtin.include_tasks: directory-home-backup-script.yml
# Emacs関連ファイル, ディレクトリ作成関連タスク
- name: "Directory Emacs"
  ansible.builtin.include_tasks: directory-emacs.yml
- name: "Service"
  ansible.builtin.include_tasks: service.yml
- name: "Config"
  ansible.builtin.include_tasks: config.yml
- name: "User Group"
  ansible.builtin.include_tasks: user_group.yml
# ホームディレクトリのコマンドファイル作成関連タスク
# 留意事項: install-emacs-packages.shの生成処理を含むため,
# emacs-package-el-setting.ymlやemacs-package.ymlよりも前に呼び出す必要がある
- name: "Home Command"
  ansible.builtin.include_tasks: home-command.yml
# emacsパッケージ用設定ファイル（オプション）の配布は post-user-create ロールで実行される

# Emacs パッケージ導入は post-user-create ロールで実行される