$TTL 86400
@       IN      SOA     {{ dns_server|default('', true) }}. root.{{ dns_domain|default('', true) }}. (
        {{ bind_serial|default('', true) }} ;Serial
        3600            ;Refresh
        1800            ;Retry
        604800          ;Expire
        86400           ;Minimum TTL
)

       IN      NS       {{ dns_server|default('', true) }}.

; === 動的 DNS (nsupdate) レコード登録ゾーン ===
; 以下のネットワークアドレス範囲の逆引きレコード(PTR)は
; nsupdateで動的に登録してください。
;
; 登録対象ネットワーク: {{ additional_network_cidr }}
;
; 登録例:
; nsupdate -k /etc/bind/ddns.key
; > server 192.168.30.1
; > zone 30.168.192.in-addr.arpa.
; > update add 100.30.168.192.in-addr.arpa 3600 PTR hostname.example.org.
; > send
;
