{% if ( dns_ddns_key_name|default('', true)|length ) > 0 and ( dns_ddns_key_secret | default('', true)| length ) > 0 %}
key "{{dns_ddns_key_name}}" {
        algorithm hmac-sha256;
        secret "{{dns_ddns_key_secret}}";
};
{% endif %}

{% if (dns_bind_zone_dir|default('', true)|length) > 0 and ( dns_domain|default('', true)|length ) > 0 %}
// === 順引き(forward) ===
zone "{{dns_domain}}" IN {       // ""内にドメイン名を記載
        type    master;
        file    "{{dns_bind_zone_dir}}/db.{{dns_domain}}";
        update-policy {
                // ゾーン配下の A/AAAA を 更新可能にする
                grant ddns-clients zonesub ANY A AAAA;
        };

};
{% endif %}

{% if (dns_ipv4_reverse|default('', true)|length) > 0 and (dns_bind_zone_dir|default('', true)|length) > 0 %}
// === 逆引き IPv4 (/24) ===
zone "{{dns_ipv4_reverse}}.in-addr.arpa" IN {
        type    master;
        file    "{{dns_bind_zone_dir}}/db.{{dns_ipv4_reverse}}";
        update-policy {
                grant ddns-clients zonesub ANY PTR;
        };
};
{% endif %}

{% if (dns_ipv6_reverse|default('', true)|length) > 0 and (dns_bind_zone_dir|default('', true)|length) > 0 %}
// === 逆引き IPv6 (/64) ===
zone "{{dns_ipv6_reverse}}.ip6.arpa" IN {
        type    master;
        file    "{{dns_bind_zone_dir}}/db.{{dns_network_ipv6_prefix_filename}}";
        update-policy {
                grant ddns-clients zonesub ANY PTR;
        };
};
{% endif %}

{% if has_additional_networks %}
// === 複数ネットワーク逆引きゾーン ===
{% set _primary_ipv4_reverse = dns_ipv4_reverse | default('', true) %}
{% set _primary_ipv6_reverse = dns_ipv6_reverse | default('', true) %}
{% for network in internal_network_list %}
{% if network.ipv4 is defined and network.ipv4|length > 0 %}
{% set _ipv4_rev = network.ipv4 | ipv4_reverse_zone %}
{% if _ipv4_rev != _primary_ipv4_reverse %}
zone "{{ network.ipv4 | ipv4_reverse_zone }}.in-addr.arpa" IN {
        type    master;
        file    "{{dns_bind_zone_dir}}/db.{{ network.ipv4 | ipv4_reverse_zone }}";
        update-policy {
                grant ddns-clients zonesub ANY PTR;
        };
};
{% endif %}
{% endif %}
{% if network.ipv6 is defined and network.ipv6|length > 0 %}
{% set _ipv6_rev = network.ipv6 | ipv6_reverse_zone(network.ipv6.split('/')[1] | int) %}
{% if _ipv6_rev != _primary_ipv6_reverse %}
zone "{{ network.ipv6 | ipv6_reverse_zone(network.ipv6.split('/')[1] | int) }}.ip6.arpa" IN {
        type    master;
        file    "{{dns_bind_zone_dir}}/db.{{ network.ipv6 | ipv6_reverse_zone(network.ipv6.split('/')[1] | int) }}";
        update-policy {
                grant ddns-clients zonesub ANY PTR;
        };
};
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
