#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
# Elasticsearch の要件に合わせて vm.max_map_count を設定する。
vm.max_map_count={{ elastic_search_vm_max_map_count }}
