#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  kubeconfig操作関連ツール作成タスク
#
---

# 証明書埋め込み版kubeconfigファイル結合スクリプト (create-uniq-kubeconfig.py)を配置
- name: "Deploy script to create merged kubeconfig to {{ k8s_create_unique_kubeconfig_script_path }}"
  ansible.builtin.template:
    src: "create-uniq-kubeconfig.py.j2"
    dest: "{{ k8s_create_unique_kubeconfig_script_path }}"
    owner: "root"
    group: "root"
    mode: "0755"

# Readme-uniq-kubeconfig-JP.md を配置
- name: "Deploy Readme-uniq-kubeconfig-JP.md to {{ k8s_node_setup_tools_docs_dir }}/Readme-uniq-kubeconfig-JP.md"
  ansible.builtin.copy:
    src: "Readme-uniq-kubeconfig-JP.md"
    dest: "{{ k8s_node_setup_tools_docs_dir }}/Readme-uniq-kubeconfig-JP.md"
    owner: "root"
    group: "root"
    mode: "0644"
