#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  k8s ノード CPU シールド設定タスク
#

#
# アプリケーションCPUの算出
#

- name: Calculate first app cpu
  ansible.builtin.shell: |
    set -o pipefail
    expr  $(echo {{ k8s_reserved_system_cpus_default }}|awk -F '-' '{print $2}') + 1
  args:
    executable: /bin/bash
  register: k8s_worker_first_cpu_id
  ignore_errors: true
  changed_when: False

- name: Calculate last app cpu
  ansible.builtin.shell: |
    set -o pipefail
    expr `lscpu -p=CPU | grep -v '^#' 2>/dev/null|wc -l || nproc --all` - 1
  args:
    executable: /bin/bash
  register: k8s_worker_last_cpu_id
  ignore_errors: true
  changed_when: False

- name: Create app cpu range
  ansible.builtin.shell: |
    echo "{{ k8s_worker_first_cpu_id.stdout }}-{{ k8s_worker_last_cpu_id.stdout }}"
  register: k8s_worker_app_cpu_range
  changed_when: False
  when:
    - k8s_worker_first_cpu_id.rc == 0
    - k8s_worker_last_cpu_id.rc == 0

- block:
    #
    # KubePods 用の Slice 設定
    #
    - name: "Create /etc/systemd/system/kubepods.slice.d"
      ansible.builtin.file:
        path: "/etc/systemd/system/kubepods.slice.d"
        state: directory
        owner: "root"
        group: "root"
        mode: "0775"

    - name: "Create /etc/systemd/system/kubepods.slice.d/40-cpuset.conf"
      ansible.builtin.template:
        src: systemd-kubepod-cpuset.conf.j2
        dest: "/etc/systemd/system/kubepods.slice.d/40-cpuset.conf"
        owner: root
        group: root
        mode: '0644'
        backup: true
      when:
        - k8s_use_kubepods_cpuset is defined
        - k8s_use_kubepods_cpuset

    - name: "Remove /etc/systemd/system/kubepods.slice.d/40-cpuset.conf"
      ansible.builtin.file:
        path: "/etc/systemd/system/kubepods.slice.d/40-cpuset.conf"
        state: absent
      when:
        - k8s_use_kubepods_cpuset is not defined or not k8s_use_kubepods_cpuset
