#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  パッケージ関連処理
#
- name: Remove containerd
  ansible.builtin.package:
    pkg:
      '{{ k8s_containerd_packages }}'
    state: absent

- name: Install transport-https ca-certificates curl
  ansible.builtin.package:
    pkg:
      "{{ k8s_common_prerequisite_packages }}"
    state: latest

- name: Install containerd
  ansible.builtin.package:
    pkg:
      '{{ k8s_containerd_packages }}'
    state: latest

- name: Install kubectl/kubeadm/kubelet
  ansible.builtin.package:
    pkg:
      '{{ k8s_common_packages }}'
    state: latest
  become: true
