#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  ユーザ・グループ作成関連タスク
#

# k8sオペレータ用グループを作成
- name: "Create {{ k8s_operator_user }} group"
  ansible.builtin.group:
    name: "{{ k8s_operator_user }}"

# k8sオペレータ用ユーザを作成
# note: K8sオペレータ用グループへ所属させるため、先にグループを作成しておくこと
- name: "Create {{ k8s_operator_user }} user"
  ansible.builtin.user:
    name: "{{ k8s_operator_user }}"
    group: "{{ k8s_operator_user }}"
    shell: "{{ k8s_operator_shell }}"
    groups: "{{ k8s_operator_groups_list }}"
    append: true

# ホームディレクトリを作成
- name: "Make /home/{{ k8s_operator_user }} dir"
  ansible.builtin.file:
    path: "/home/{{ k8s_operator_user }}"
    state: directory
    owner: "{{ k8s_operator_user }}"
    group: "{{ k8s_operator_user }}"
    mode: "0755"
