{# -*- coding:utf-8 mode:jinja2 -*- #}
{# Ansible playbook #}
{# Copyright 2020 Takeharu KATO All Rights Reserved. #}
{# #}
{# 追加ルート定義設定テンプレート (Ubuntu netplan用) #}
{# #}
{% if additional_network_routes | default([], true) | length > 0 %}
network:
  version: 2
  ethernets:
    {{ mgmt_nic }}:
      routes:
{% for route in additional_network_routes | default([], true) %}
{% if route.address_family == 'ipv4' or route.address_family == 'ipv6' %}
        # ゲートウェイへの直接ルート
        - to: {{ route.gateway }}
          on-link: true
{% if route.metric is defined %}
          metric: {{ route.metric }}
{% endif %}
        # 宛先ネットワークへのルート
        - to: {{ route.destination }}
          via: {{ route.gateway }}
          on-link: true
{% if route.metric is defined %}
          metric: {{ route.metric }}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
