#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Emacs パッケージインストール内部ループ(1要素をインストール)

- name: Check install-emacs-packages.sh presence in user home
  vars:
    outer_user_name: "{{ outer_item.name | default('', true) }}"
    outer_user_group: "{{ outer_item.group | default(outer_item.name | default('', true), true) }}"
    outer_user_home: "{{ outer_item.home | default('/home/' ~ (outer_item.name | default('', true)), true) }}"
    outer_user_shell: "{{ outer_item.shell | default('/bin/bash', true) }}"
  ansible.builtin.stat:
    path: "{{ outer_user_home }}/bin/install-emacs-packages.sh"
  register: install_emacs_script
  when:
    - ( outer_user_name | length ) > 0

# ユーザの ~/bin ディレクトリを作成（存在しない場合）
- name: Create user bin directory
  vars:
    outer_user_name: "{{ outer_item.name | default('', true) }}"
    outer_user_group: "{{ outer_item.group | default(outer_item.name | default('', true), true) }}"
    outer_user_home: "{{ outer_item.home | default('/home/' ~ (outer_item.name | default('', true)), true) }}"
  ansible.builtin.file:
    path: "{{ outer_user_home }}/bin"
    state: directory
    owner: "{{ outer_user_name }}"
    group: "{{ outer_user_group }}"
    mode: "0755"
  when:
    - install_emacs_script is defined
    - install_emacs_script.stat is defined
    - not install_emacs_script.stat.exists
    - ( outer_user_name | length ) > 0

# install-emacs-packages.sh をユーザホームにコピー（存在しない場合）
- name: Copy install-emacs-packages.sh to user home
  vars:
    outer_user_name: "{{ outer_item.name | default('', true) }}"
    outer_user_group: "{{ outer_item.group | default(outer_item.name | default('', true), true) }}"
    outer_user_home: "{{ outer_item.home | default('/home/' ~ (outer_item.name | default('', true)), true) }}"
  ansible.builtin.copy:
    src: /etc/skel/bin/install-emacs-packages.sh
    dest: "{{ outer_user_home }}/bin/install-emacs-packages.sh"
    owner: "{{ outer_user_name }}"
    group: "{{ outer_user_group }}"
    mode: "0755"
    remote_src: yes
  when:
    - install_emacs_script is defined
    - install_emacs_script.stat is defined
    - not install_emacs_script.stat.exists
    - ( outer_user_name | length ) > 0

# Emacs パッケージをインストール
# (create_user_emacs_package_list が定義済みで要素数が 1 以上の場合)
- name: install one emacs package
  vars:
    outer_user_name: "{{ outer_item.name | default('', true) }}"
    outer_user_group: "{{ outer_item.group | default(outer_item.name | default('', true), true) }}"
    outer_user_home: "{{ outer_item.home | default('/home/' ~ (outer_item.name | default('', true)), true) }}"
    outer_user_shell: "{{ outer_item.shell | default('/bin/bash', true) }}"
  ansible.builtin.shell: |
    sudo -i -u "{{ outer_user_name }}" "{{ outer_user_shell }}" "{{ outer_user_home }}/bin/install-emacs-packages.sh" "{{ item }}"
  loop: "{{ create_user_emacs_package_list | default([]) }}"
  when:
    - (create_user_emacs_package_list | default([], true) | length) > 0
    - ( outer_user_name | length ) > 0
