#  -*- coding:utf-8 mode:yaml -*-
#  Ansible playbook
#  Copyright 2020 Takeharu KATO All Rights Reserved.
#
#  post-user-create ロール タスクメイン部
#  ユーザ作成後に実行されるユーザホーム関連タスク
#
#  include_tasksで他のタスクを読み込む
#
---

# 最初に変数設定を読み直す ( role単独で実行可能とするため )
- include_tasks: load-params.yml
- include_tasks: package.yml
- include_tasks: directory.yml
- include_tasks: user_group.yml
- include_tasks: service.yml
- include_tasks: config.yml

# Emacs パッケージ導入タスク
# 本ロールでは, .emacs.d/user_settings/ 配下へのemacs初期化ファイルの例を
# user-settings ロールで提供し, 本ロールではパッケージ導入を行う
# create_emacs_package_install_script が true で,
# create_user_emacs_package_list が1要素以上の場合にのみ実行する
- include_tasks: emacs-package.yml
  when:
    - create_emacs_package_install_script|default(false)
    - ( create_user_emacs_package_list | default([], true) | length ) > 0
